<!DOCTYPE html>
<html>
<head>
	<title>A cool thing to do is convert the CSS Named Colors to CMYK and back</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="data/css/webcolors.css">
	<link rel="stylesheet" type="text/css" href="data/css/index.css">
</head>
<body>

	<header>
		<h1>A cool thing to do is convert the CSS Named Colors to CMYK and back. <a href='https://github.com/danburzo/webcolors-cmyk'>On GitHub.</a></h1>
		<form class='modes'>
			<label><input type='radio' name='mode' value='rgb' checked/> RGB</label>
			<label><input type='radio' name='mode' value='web-coated'/> Web Coated</label>
			<label><input type='radio' name='mode' value='web-uncoated'/> Web Uncoated</label>
			<label><input type='radio' name='mode' value='fogra-coated'/> FOGRA Coated</label>
			<label><input type='radio' name='mode' value='fogra-uncoated'/> FOGRA Uncoated</label>
		</form>
	</header>

	<div class='rgb' id='mode'>
		<ul class='colors'>
			<% colors.forEach(function(color) { %>
				<li>
					<span class='color <%= color.color %>'></span>
					<span class='name'><%= color.color %></span>
				</li>
			<% }) %>
		</ul>
	</div>

	<script type="text/javascript" src='data/js/index.js'></script>

</body>
</html>