/* Coated FOGRA27 (ISO 12647-2:2004) */

:root {
	--aliceblue: #f2f8fc;
	--antiquewhite: #fbead5;
	--aqua: #70c6d8;
	--aquamarine: #98cfbb;
	--azure: #f3f9fb;
	--beige: #f7f5dc;
	--bisque: #fde2c3;
	--black: #010101;
	--blanchedalmond: #fee9cc;
	--blue: #324a97;
	--blueviolet: #6c4491;
	--brown: #a62828;
	--burlywood: #dfb785;
	--cadetblue: #629e9f;
	--chartreuse: #90bc13;
	--chocolate: #d4691d;
	--coral: #ed7b52;
	--cornflowerblue: #6f8fc4;
	--cornsilk: #fff8dd;
	--crimson: #dc0d3b;
	--cyan: #70c6d8;
	--darkblue: #222971;
	--darkcyan: #008b8b;
	--darkgoldenrod: #b98711;
	--darkgray: #aaa9a8;
	--darkgreen: #0c6428;
	--darkkhaki: #beb769;
	--darkmagenta: #871c80;
	--darkolivegreen: #566b2d;
	--darkorange: #f0881b;
	--darkorchid: #7c4490;
	--darkred: #8c1419;
	--darksalmon: #eb9579;
	--darkseagreen: #90bc8e;
	--darkslateblue: #493c8a;
	--darkslategray: #304e4e;
	--darkturquoise: #47bac2;
	--darkviolet: #763c8c;
	--deeppink: #e53088;
	--deepskyblue: #4ab8e5;
	--dimgray: #6b6968;
	--dodgerblue: #5085c0;
	--firebrick: #b32121;
	--floralwhite: #fffaf0;
	--forestgreen: #258b2e;
	--fuchsia: #b35196;
	--gainsboro: #dedcdb;
	--ghostwhite: #faf8fb;
	--gold: #ffd700;
	--goldenrod: #dba51e;
	--gray: #828080;
	--green: #0c812d;
	--greenyellow: #b0c800;
	--honeydew: #f2f7ec;
	--hotpink: #ea6ca2;
	--indianred: #cf5c5c;
	--indigo: #4b2675;
	--ivory: #fffef1;
	--khaki: #f1e68a;
	--lavender: #e7e4f1;
	--lavenderblush: #fdeff4;
	--lawngreen: #8dbb14;
	--lemonchiffon: #fff9cd;
	--lightblue: #aed7e5;
	--lightcoral: #ed7f7f;
	--lightcyan: #e5f3f6;
	--lightgoldenrodyellow: #fbf8d2;
	--lightgray: #d5d3d2;
	--lightgreen: #9cc985;
	--lightpink: #f4b2be;
	--lightsalmon: #f39d7a;
	--lightseagreen: #26b1a9;
	--lightskyblue: #90caeb;
	--lightslategray: #7a8999;
	--lightsteelblue: #b2c4de;
	--lightyellow: #fefbe0;
	--lime: #69af23;
	--limegreen: #56ab32;
	--linen: #fcf1e6;
	--magenta: #b35196;
	--maroon: #801418;
	--mediumaquamarine: #72bfa3;
	--mediumblue: #303f90;
	--mediumorchid: #9c5e9e;
	--mediumpurple: #8770ac;
	--mediumseagreen: #44ad6f;
	--mediumslateblue: #6d65a6;
	--mediumspringgreen: #6cb980;
	--mediumturquoise: #60bfbf;
	--mediumvioletred: #c61981;
	--midnightblue: #262864;
	--mintcream: #f7fbf7;
	--mistyrose: #fbe2df;
	--moccasin: #fee3b4;
	--navajowhite: #fdddad;
	--navy: #212867;
	--oldlace: #fff5e5;
	--olive: #81811f;
	--olivedrab: #6d8f25;
	--orange: #f5a218;
	--orangered: #e74820;
	--orchid: #bf76ab;
	--palegoldenrod: #efe8a8;
	--palegreen: #a5cc87;
	--paleturquoise: #b6dfe3;
	--palevioletred: #dd7093;
	--papayawhip: #ffefd5;
	--peachpuff: #fcd8b9;
	--peru: #ce853d;
	--pink: #f6bdc9;
	--plum: #d3a0c5;
	--powderblue: #b3dee4;
	--purple: #7d1b7c;
	--rebeccapurple: #64378a;
	--red: #e31e22;
	--rosybrown: #bd8e8e;
	--royalblue: #4a62a7;
	--saddlebrown: #8b4419;
	--salmon: #ed7c71;
	--sandybrown: #f4a45f;
	--seagreen: #2e8b56;
	--seashell: #fef4ee;
	--sienna: #a1512b;
	--silver: #c2bfbf;
	--skyblue: #89ceeb;
	--slateblue: #62589e;
	--slategray: #728190;
	--snow: #fef9f9;
	--springgreen: #6fb662;
	--steelblue: #4881b3;
	--tan: #d4b48b;
	--teal: #07807f;
	--thistle: #d9bfd7;
	--tomato: #ea614b;
	--turquoise: #67c0bd;
	--violet: #ca88b6;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f4;
	--yellow: #f5e600;
	--yellowgreen: #9cc236;
}
