/* Coated FOGRA39 (ISO 12647-2:2004) */

:root {
	--aliceblue: #f2f8fd;
	--antiquewhite: #fcebd7;
	--aqua: #6fc7d9;
	--aquamarine: #97cfbd;
	--azure: #f2f9fb;
	--beige: #f6f5db;
	--bisque: #fee3c4;
	--black: #010101;
	--blanchedalmond: #ffeacc;
	--blue: #2c4a9a;
	--blueviolet: #654595;
	--brown: #a7282a;
	--burlywood: #dfb785;
	--cadetblue: #609e9f;
	--chartreuse: #8ebf22;
	--chocolate: #d3681c;
	--coral: #ef7c53;
	--cornflowerblue: #6b8fca;
	--cornsilk: #fff8dd;
	--crimson: #dd0d3c;
	--cyan: #6fc7d9;
	--darkblue: #283070;
	--darkcyan: #038b8b;
	--darkgoldenrod: #b8860f;
	--darkgray: #aaa8a8;
	--darkgreen: #0d652e;
	--darkkhaki: #beb76a;
	--darkmagenta: #841f82;
	--darkolivegreen: #576b2e;
	--darkorange: #f18916;
	--darkorchid: #764594;
	--darkred: #8c1812;
	--darksalmon: #ea9579;
	--darkseagreen: #91bc8f;
	--darkslateblue: #4a3d8b;
	--darkslategray: #314f4f;
	--darkturquoise: #44bbc4;
	--darkviolet: #6e3e90;
	--deeppink: #e82e89;
	--deepskyblue: #40baec;
	--dimgray: #6b6969;
	--dodgerblue: #4883c4;
	--firebrick: #b41f21;
	--floralwhite: #fffaf0;
	--forestgreen: #278c37;
	--fuchsia: #a7519a;
	--gainsboro: #dddcdb;
	--ghostwhite: #faf8fc;
	--gold: #ffd700;
	--goldenrod: #dba61c;
	--gray: #818080;
	--green: #0e8136;
	--greenyellow: #b0ca0a;
	--honeydew: #f2f7ed;
	--hotpink: #ed6ca5;
	--indianred: #cf5b5c;
	--indigo: #462778;
	--ivory: #fffdf0;
	--khaki: #f1e58a;
	--lavender: #e8e5f4;
	--lavenderblush: #fdeef3;
	--lawngreen: #8cbe23;
	--lemonchiffon: #fff9cd;
	--lightblue: #afd7e4;
	--lightcoral: #ef7f7f;
	--lightcyan: #e5f3f7;
	--lightgoldenrodyellow: #fbf8d3;
	--lightgray: #d4d2d2;
	--lightgreen: #9cca85;
	--lightpink: #f5b3c0;
	--lightsalmon: #f49e7a;
	--lightseagreen: #23b2a9;
	--lightskyblue: #8eccf1;
	--lightslategray: #788898;
	--lightsteelblue: #b3c4dd;
	--lightyellow: #fffbe1;
	--lime: #67b32e;
	--limegreen: #57b034;
	--linen: #fbefe5;
	--magenta: #a7519a;
	--maroon: #801710;
	--mediumaquamarine: #71c1a5;
	--mediumblue: #263f93;
	--mediumorchid: #965ca1;
	--mediumpurple: #826eb0;
	--mediumseagreen: #43b070;
	--mediumslateblue: #6764ab;
	--mediumspringgreen: #6bbb81;
	--mediumturquoise: #5ec0c1;
	--mediumvioletred: #c51c83;
	--midnightblue: #2a2b65;
	--mintcream: #f7fbf8;
	--mistyrose: #fce2e0;
	--moccasin: #ffe3b4;
	--navajowhite: #feddac;
	--navy: #292d69;
	--oldlace: #fef5e5;
	--olive: #808122;
	--olivedrab: #6c8e2c;
	--orange: #f6a211;
	--orangered: #e8491e;
	--orchid: #bc75af;
	--palegoldenrod: #f0e9a9;
	--palegreen: #a6ce88;
	--paleturquoise: #b6dfe3;
	--palevioletred: #dc6e92;
	--papayawhip: #ffeed5;
	--peachpuff: #fcd8b8;
	--peru: #cf853d;
	--pink: #f7bdc9;
	--plum: #d3a0c9;
	--powderblue: #b3dee3;
	--purple: #7c217e;
	--rebeccapurple: #63388d;
	--red: #e52220;
	--rosybrown: #be8f8f;
	--royalblue: #4662ab;
	--saddlebrown: #8d4514;
	--salmon: #ef7d72;
	--sandybrown: #f6a45e;
	--seagreen: #2e8b56;
	--seashell: #fef4ed;
	--sienna: #a2522c;
	--silver: #c1bfbf;
	--skyblue: #89ceeb;
	--slateblue: #5e57a2;
	--slategray: #728090;
	--snow: #fef9fa;
	--springgreen: #6fb963;
	--steelblue: #4982b4;
	--tan: #d3b48b;
	--teal: #078080;
	--thistle: #d9bfd8;
	--tomato: #ec624b;
	--turquoise: #67c1bf;
	--violet: #c787ba;
	--wheat: #f7ddb1;
	--white: #ffffff;
	--whitesmoke: #f7f4f4;
	--yellow: #f4e600;
	--yellowgreen: #9cc435;
}
