/* Coated GRACoL 2006 (ISO 12647-2:2004) */

.profile--coatedgracol2006 {
	--aliceblue: #f2f8fd;
	--antiquewhite: #fcebd6;
	--aqua: #73c8da;
	--aquamarine: #9bd1bd;
	--azure: #f3f9fa;
	--beige: #f7f5dc;
	--bisque: #ffe3c4;
	--black: #030202;
	--blanchedalmond: #ffebcd;
	--blue: #304d9a;
	--blueviolet: #6a4794;
	--brown: #a7282a;
	--burlywood: #dfb885;
	--cadetblue: #629e9f;
	--chartreuse: #90c225;
	--chocolate: #d3691c;
	--coral: #f27d53;
	--cornflowerblue: #6d90c8;
	--cornsilk: #fff8dc;
	--crimson: #dd153d;
	--cyan: #73c8da;
	--darkblue: #252e71;
	--darkcyan: #018b8b;
	--darkgoldenrod: #b88619;
	--darkgray: #aaa9a8;
	--darkgreen: #106532;
	--darkkhaki: #beb669;
	--darkmagenta: #842883;
	--darkolivegreen: #576b2e;
	--darkorange: #f38a15;
	--darkorchid: #7b4794;
	--darkred: #8c1e17;
	--darksalmon: #ea9579;
	--darkseagreen: #90bb8e;
	--darkslateblue: #4a3c8b;
	--darkslategray: #314f4f;
	--darkturquoise: #46bcc4;
	--darkviolet: #734090;
	--deeppink: #e82f89;
	--deepskyblue: #40baeb;
	--dimgray: #6a6968;
	--dodgerblue: #4a86c3;
	--firebrick: #b32021;
	--floralwhite: #fffaf0;
	--forestgreen: #2a8c3a;
	--fuchsia: #b0549a;
	--gainsboro: #dedcdb;
	--ghostwhite: #f9f8fc;
	--gold: #ffd700;
	--goldenrod: #daa51a;
	--gray: #81807f;
	--green: #158139;
	--greenyellow: #afcc12;
	--honeydew: #f2f7ec;
	--hotpink: #ee6da4;
	--indianred: #ce5b5b;
	--indigo: #472e70;
	--ivory: #fffdf0;
	--khaki: #f2e68b;
	--lavender: #e8e5f3;
	--lavenderblush: #fdeff4;
	--lawngreen: #8dc126;
	--lemonchiffon: #fff9cd;
	--lightblue: #afd8e6;
	--lightcoral: #f27f7e;
	--lightcyan: #e4f3f6;
	--lightgoldenrodyellow: #faf7d1;
	--lightgray: #d5d3d2;
	--lightgreen: #9dcc87;
	--lightpink: #f7b5c0;
	--lightsalmon: #f69e7a;
	--lightseagreen: #23b2a9;
	--lightskyblue: #8dccf0;
	--lightslategray: #788899;
	--lightsteelblue: #b1c3dd;
	--lightyellow: #fefae0;
	--lime: #68b731;
	--limegreen: #55b337;
	--linen: #fcf0e5;
	--magenta: #b0549a;
	--maroon: #801d15;
	--mediumaquamarine: #6fc2a4;
	--mediumblue: #2e4292;
	--mediumorchid: #9a5ea1;
	--mediumpurple: #846faf;
	--mediumseagreen: #3eb370;
	--mediumslateblue: #6a65a9;
	--mediumspringgreen: #6cbe84;
	--mediumturquoise: #5ec0c1;
	--mediumvioletred: #c51c82;
	--midnightblue: #252c64;
	--mintcream: #f7faf7;
	--mistyrose: #fde3e0;
	--moccasin: #ffe4b4;
	--navajowhite: #ffdead;
	--navy: #242c68;
	--oldlace: #fff5e5;
	--olive: #818127;
	--olivedrab: #6d8e30;
	--orange: #f7a212;
	--orangered: #ea4a1f;
	--orchid: #be76ae;
	--palegoldenrod: #efe8a9;
	--palegreen: #a6d08a;
	--paleturquoise: #b6dfe3;
	--palevioletred: #dc6f93;
	--papayawhip: #ffeed5;
	--peachpuff: #fedab9;
	--peru: #cd843c;
	--pink: #f8beca;
	--plum: #d3a0c8;
	--powderblue: #b4dee4;
	--purple: #7b2a7b;
	--rebeccapurple: #64398c;
	--red: #e6221f;
	--rosybrown: #bd8f8e;
	--royalblue: #4a65ab;
	--saddlebrown: #8c451a;
	--salmon: #f27e71;
	--sandybrown: #f5a45e;
	--seagreen: #2f8b56;
	--seashell: #fff4ed;
	--sienna: #a1512c;
	--silver: #c1bfbe;
	--skyblue: #88cdea;
	--slateblue: #6059a1;
	--slategray: #72808f;
	--snow: #fff9f9;
	--springgreen: #6fbc67;
	--steelblue: #4982b4;
	--tan: #d2b38a;
	--teal: #0a8080;
	--thistle: #d9bfd8;
	--tomato: #ee634c;
	--turquoise: #69c3c0;
	--violet: #c989b9;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f6f4f4;
	--yellow: #f4e700;
	--yellowgreen: #9cc635;
}
