/* Japan Color 2001 Coated */

:root {
	--aliceblue: #f2f8fd;
	--antiquewhite: #fbead6;
	--aqua: #72c8da;
	--aquamarine: #9ad2bd;
	--azure: #f3fafb;
	--beige: #f7f5dc;
	--bisque: #fce3c4;
	--black: #050201;
	--blanchedalmond: #feeacd;
	--blue: #1f4da0;
	--blueviolet: #684799;
	--brown: #a62628;
	--burlywood: #dfb784;
	--cadetblue: #629e9f;
	--chartreuse: #93c51d;
	--chocolate: #d3681d;
	--coral: #ee7c53;
	--cornflowerblue: #6b92cc;
	--cornsilk: #fff8dc;
	--crimson: #dd123c;
	--cyan: #72c8da;
	--darkblue: #1e2b6f;
	--darkcyan: #008b8b;
	--darkgoldenrod: #b9861a;
	--darkgray: #aba9a8;
	--darkgreen: #0c6435;
	--darkkhaki: #beb769;
	--darkmagenta: #891685;
	--darkolivegreen: #556b30;
	--darkorange: #f1891e;
	--darkorchid: #7b4698;
	--darkred: #8a1c21;
	--darksalmon: #eb9579;
	--darkseagreen: #90bc8e;
	--darkslateblue: #4a3d8c;
	--darkslategray: #314f4f;
	--darkturquoise: #45bcc4;
	--darkviolet: #733f94;
	--deeppink: #e62b8a;
	--deepskyblue: #39bcee;
	--dimgray: #696968;
	--dodgerblue: #4489c9;
	--firebrick: #b22124;
	--floralwhite: #fff9f0;
	--forestgreen: #288c3a;
	--fuchsia: #b1569d;
	--gainsboro: #dfdcdb;
	--ghostwhite: #f9f8fc;
	--gold: #fed709;
	--goldenrod: #dba51d;
	--gray: #828080;
	--green: #14813b;
	--greenyellow: #b3d108;
	--honeydew: #f2f8ed;
	--hotpink: #eb6ca4;
	--indianred: #cf5b5c;
	--indigo: #472478;
	--ivory: #fffef1;
	--khaki: #f1e68a;
	--lavender: #e7e5f2;
	--lavenderblush: #fdeff4;
	--lawngreen: #91c41e;
	--lemonchiffon: #fffacd;
	--lightblue: #afd8e5;
	--lightcoral: #ee7f80;
	--lightcyan: #e5f3f7;
	--lightgoldenrodyellow: #fbf9d3;
	--lightgray: #d4d2d2;
	--lightgreen: #9dce87;
	--lightpink: #f4b3bf;
	--lightsalmon: #f29d7a;
	--lightseagreen: #20b2a9;
	--lightskyblue: #8ecdf1;
	--lightslategray: #798898;
	--lightsteelblue: #b2c4de;
	--lightyellow: #fffde1;
	--lime: #6db92d;
	--limegreen: #54b336;
	--linen: #fcefe5;
	--magenta: #b1569d;
	--maroon: #7f191e;
	--mediumaquamarine: #70c2a5;
	--mediumblue: #204097;
	--mediumorchid: #9c60a4;
	--mediumpurple: #8572b2;
	--mediumseagreen: #3db370;
	--mediumslateblue: #6a68ae;
	--mediumspringgreen: #6fbf84;
	--mediumturquoise: #5fc1c1;
	--mediumvioletred: #c70d83;
	--midnightblue: #1f2b62;
	--mintcream: #f7fbf8;
	--mistyrose: #fbe2df;
	--moccasin: #fde2b4;
	--navajowhite: #fcdcad;
	--navy: #1f2c62;
	--oldlace: #fff5e5;
	--olive: #80812d;
	--olivedrab: #6d8f31;
	--orange: #f5a118;
	--orangered: #e9481e;
	--orchid: #bf78af;
	--palegoldenrod: #efe7a8;
	--palegreen: #a7d28a;
	--paleturquoise: #b6e0e4;
	--palevioletred: #dc6f93;
	--papayawhip: #feedd5;
	--peachpuff: #fbd8ba;
	--peru: #cd843c;
	--pink: #f6bcc9;
	--plum: #d3a1c8;
	--powderblue: #b2dee3;
	--purple: #7f177e;
	--rebeccapurple: #663791;
	--red: #e61b20;
	--rosybrown: #bd8e8e;
	--royalblue: #4366af;
	--saddlebrown: #8a4523;
	--salmon: #ee7d72;
	--sandybrown: #f4a35e;
	--seagreen: #2f8c57;
	--seashell: #fef4ed;
	--sienna: #a0512a;
	--silver: #c2bfbf;
	--skyblue: #89ceeb;
	--slateblue: #605aa6;
	--slategray: #728090;
	--snow: #fefafa;
	--springgreen: #72be68;
	--steelblue: #4982b4;
	--tan: #d3b48a;
	--teal: #088180;
	--thistle: #d9bfd8;
	--tomato: #eb624b;
	--turquoise: #68c3bf;
	--violet: #ca8bbb;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f5;
	--yellow: #f7ec00;
	--yellowgreen: #9bc833;
}
