/* Japan Web Coated (Ad) */

.profile--japanwebcoated {
	--aliceblue: #f2f8fd;
	--antiquewhite: #fcebd7;
	--aqua: #6cc2d8;
	--aquamarine: #97ccbb;
	--azure: #f3f9fb;
	--beige: #f7f5db;
	--bisque: #fbe2c4;
	--black: #080404;
	--blanchedalmond: #fce9cc;
	--blue: #304596;
	--blueviolet: #694192;
	--brown: #a72a28;
	--burlywood: #dfb885;
	--cadetblue: #629ea0;
	--chartreuse: #91bc17;
	--chocolate: #d4681c;
	--coral: #ea7a53;
	--cornflowerblue: #6e8bc3;
	--cornsilk: #fff8dd;
	--crimson: #de113b;
	--cyan: #6cc2d8;
	--darkblue: #1f1781;
	--darkcyan: #0e8b8a;
	--darkgoldenrod: #b98602;
	--darkgray: #aba9a8;
	--darkgreen: #0e6429;
	--darkkhaki: #bfb769;
	--darkmagenta: #871683;
	--darkolivegreen: #576b2f;
	--darkorange: #ee881e;
	--darkorchid: #7b4091;
	--darkred: #8b1418;
	--darksalmon: #eb9679;
	--darkseagreen: #90bc8e;
	--darkslateblue: #4a3d8c;
	--darkslategray: #314f4e;
	--darkturquoise: #4bb6c1;
	--darkviolet: #73378d;
	--deeppink: #de2a89;
	--deepskyblue: #3eb9e9;
	--dimgray: #6b6968;
	--dodgerblue: #4f82be;
	--firebrick: #b32320;
	--floralwhite: #fef9f0;
	--forestgreen: #298c30;
	--fuchsia: #ad4794;
	--gainsboro: #dedbda;
	--ghostwhite: #f9f8fc;
	--gold: #fdd50a;
	--goldenrod: #dba51e;
	--gray: #827f7f;
	--green: #138131;
	--greenyellow: #b1c900;
	--honeydew: #f2f8ed;
	--hotpink: #e567a2;
	--indianred: #ce5b5b;
	--indigo: #4d157d;
	--ivory: #fffef1;
	--khaki: #f1e68a;
	--lavender: #e8e5f2;
	--lavenderblush: #fceff4;
	--lawngreen: #8ebb19;
	--lemonchiffon: #fffacd;
	--lightblue: #b0d9e5;
	--lightcoral: #ea7e80;
	--lightcyan: #e3f2f7;
	--lightgoldenrodyellow: #fbf9d2;
	--lightgray: #d5d3d2;
	--lightgreen: #9dc884;
	--lightpink: #f2b1be;
	--lightsalmon: #f09c7c;
	--lightseagreen: #2dafa7;
	--lightskyblue: #8fcbee;
	--lightslategray: #798898;
	--lightsteelblue: #b3c4dd;
	--lightyellow: #fffce0;
	--lime: #69af26;
	--limegreen: #56ab30;
	--linen: #fdf0e5;
	--magenta: #ad4794;
	--maroon: #801316;
	--mediumaquamarine: #74bda3;
	--mediumblue: #2e3a90;
	--mediumorchid: #98599d;
	--mediumpurple: #836dab;
	--mediumseagreen: #48ad6f;
	--mediumslateblue: #6c63a6;
	--mediumspringgreen: #6db77f;
	--mediumturquoise: #63bcbe;
	--mediumvioletred: #c81385;
	--midnightblue: #1e1c70;
	--mintcream: #f6fbf8;
	--mistyrose: #fae2e0;
	--moccasin: #fce2b5;
	--navajowhite: #fbdcae;
	--navy: #18197b;
	--oldlace: #fef4e5;
	--olive: #81811c;
	--olivedrab: #6d8e24;
	--orange: #f2a11c;
	--orangered: #e44622;
	--orchid: #bb70a9;
	--palegoldenrod: #efe7a8;
	--palegreen: #a6cc86;
	--paleturquoise: #b5dde3;
	--palevioletred: #dd7093;
	--papayawhip: #fdedd5;
	--peachpuff: #f9d7b9;
	--peru: #ce853e;
	--pink: #f3bcc9;
	--plum: #d29bc4;
	--powderblue: #b3dde3;
	--purple: #800b7f;
	--rebeccapurple: #64368d;
	--red: #e01f25;
	--rosybrown: #bd8f8f;
	--royalblue: #4960a6;
	--saddlebrown: #8c4514;
	--salmon: #ea7c73;
	--sandybrown: #f2a35f;
	--seagreen: #338b56;
	--seashell: #fdf3ed;
	--sienna: #a2522b;
	--silver: #c2c0bf;
	--skyblue: #8aceea;
	--slateblue: #61579e;
	--slategray: #728090;
	--snow: #fefafa;
	--springgreen: #6eb563;
	--steelblue: #4982b4;
	--tan: #d3b48b;
	--teal: #06807f;
	--thistle: #d9bfd8;
	--tomato: #e6614c;
	--turquoise: #6abdbc;
	--violet: #c681b4;
	--wheat: #f7deb3;
	--white: #ffffff;
	--whitesmoke: #f8f5f4;
	--yellow: #f5e91a;
	--yellowgreen: #9bc139;
}
