/* Japan Color 2003 Web Coated */

:root {
	--aliceblue: #f2f8fd;
	--antiquewhite: #fbead6;
	--aqua: #79cbdd;
	--aquamarine: #9ed4c1;
	--azure: #f2fafb;
	--beige: #f6f4db;
	--bisque: #fee3c5;
	--black: #010101;
	--blanchedalmond: #ffeacc;
	--blue: #23469b;
	--blueviolet: #684296;
	--brown: #a62827;
	--burlywood: #dfb785;
	--cadetblue: #619e9f;
	--chartreuse: #94c421;
	--chocolate: #d3671c;
	--coral: #f37c51;
	--cornflowerblue: #6c8ec9;
	--cornsilk: #fff8dc;
	--crimson: #dd0f3b;
	--cyan: #79cbdd;
	--darkblue: #102079;
	--darkcyan: #018b8a;
	--darkgoldenrod: #b9871f;
	--darkgray: #aaa8a7;
	--darkgreen: #036432;
	--darkkhaki: #beb76a;
	--darkmagenta: #881384;
	--darkolivegreen: #576b2d;
	--darkorange: #f5890d;
	--darkorchid: #7a4195;
	--darkred: #89131c;
	--darksalmon: #ea9579;
	--darkseagreen: #91bd8e;
	--darkslateblue: #483c8a;
	--darkslategray: #324f4f;
	--darkturquoise: #49bcc4;
	--darkviolet: #723991;
	--deeppink: #ea288b;
	--deepskyblue: #3dbaeb;
	--dimgray: #6a6969;
	--dodgerblue: #4985c6;
	--firebrick: #b22221;
	--floralwhite: #fff9ef;
	--forestgreen: #278b38;
	--fuchsia: #b04c99;
	--gainsboro: #dddbdb;
	--ghostwhite: #faf8fc;
	--gold: #ffd600;
	--goldenrod: #dba51a;
	--gray: #81807f;
	--green: #0c8039;
	--greenyellow: #b2cf10;
	--honeydew: #f2f9ee;
	--hotpink: #ef6ba8;
	--indianred: #ce5b5b;
	--indigo: #491b7a;
	--ivory: #fffef1;
	--khaki: #f1e68b;
	--lavender: #e7e5f3;
	--lavenderblush: #feeff3;
	--lawngreen: #91c222;
	--lemonchiffon: #fffacd;
	--lightblue: #afd7e5;
	--lightcoral: #f17f7e;
	--lightcyan: #e4f4f8;
	--lightgoldenrodyellow: #fcfad3;
	--lightgray: #d5d3d2;
	--lightgreen: #9bcd87;
	--lightpink: #f7b4c0;
	--lightsalmon: #f69e79;
	--lightseagreen: #24b2a9;
	--lightskyblue: #8dcbef;
	--lightslategray: #778797;
	--lightsteelblue: #b1c3dc;
	--lightyellow: #fffde1;
	--lime: #68b52d;
	--limegreen: #53b038;
	--linen: #fbefe4;
	--magenta: #b04c99;
	--maroon: #7e1119;
	--mediumaquamarine: #6ec1a5;
	--mediumblue: #243b94;
	--mediumorchid: #9c5ba3;
	--mediumpurple: #856fb1;
	--mediumseagreen: #40b271;
	--mediumslateblue: #6965ac;
	--mediumspringgreen: #68bc82;
	--mediumturquoise: #61c1c1;
	--mediumvioletred: #c81183;
	--midnightblue: #20226c;
	--mintcream: #f7fbf8;
	--mistyrose: #fde3e0;
	--moccasin: #ffe3b4;
	--navajowhite: #feddae;
	--navy: #15216f;
	--oldlace: #fff5e5;
	--olive: #7f802c;
	--olivedrab: #6b8e30;
	--orange: #f9a30f;
	--orangered: #ee4818;
	--orchid: #c174af;
	--palegoldenrod: #f0e8a9;
	--palegreen: #a7d28d;
	--paleturquoise: #b7e1e5;
	--palevioletred: #dd6f93;
	--papayawhip: #ffeed5;
	--peachpuff: #fdd8ba;
	--peru: #ce843d;
	--pink: #f8beca;
	--plum: #d5a0ca;
	--powderblue: #b2dfe4;
	--purple: #7f107e;
	--rebeccapurple: #65358f;
	--red: #eb181a;
	--rosybrown: #be8f8f;
	--royalblue: #4563ad;
	--saddlebrown: #8b451e;
	--salmon: #f27e72;
	--sandybrown: #f5a45e;
	--seagreen: #2e8b56;
	--seashell: #fff4ed;
	--sienna: #a2522a;
	--silver: #c1bfbe;
	--skyblue: #89cdea;
	--slateblue: #6158a4;
	--slategray: #717f8f;
	--snow: #fffafa;
	--springgreen: #6ebb65;
	--steelblue: #4881b3;
	--tan: #d3b48b;
	--teal: #08807f;
	--thistle: #d9c0d8;
	--tomato: #f0624a;
	--turquoise: #6cc3c0;
	--violet: #ca87ba;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f5;
	--yellow: #f9ec00;
	--yellowgreen: #9dc830;
}
