/* Japan Color 2001 Uncoated */

:root {
	--aliceblue: #f1f8fd;
	--antiquewhite: #fcebd6;
	--aqua: #74c4d5;
	--aquamarine: #98cfbd;
	--azure: #f3f9fb;
	--beige: #f6f5db;
	--bisque: #ffe3c3;
	--black: #0e0a07;
	--blanchedalmond: #ffeacc;
	--blue: #3d5095;
	--blueviolet: #6b4b90;
	--brown: #a62e38;
	--burlywood: #e0b886;
	--cadetblue: #619e9f;
	--chartreuse: #90c444;
	--chocolate: #d26d3d;
	--coral: #ef7d55;
	--cornflowerblue: #6d8dc3;
	--cornsilk: #fff9dd;
	--crimson: #de273d;
	--cyan: #74c4d5;
	--darkblue: #2f3574;
	--darkcyan: #118a8a;
	--darkgoldenrod: #ba8a40;
	--darkgray: #aba9a8;
	--darkgreen: #2e6543;
	--darkkhaki: #bfb76a;
	--darkmagenta: #813883;
	--darkolivegreen: #586c42;
	--darkorange: #f28c39;
	--darkorchid: #794b8f;
	--darkred: #882130;
	--darksalmon: #eb957a;
	--darkseagreen: #92bc8e;
	--darkslateblue: #4a3d86;
	--darkslategray: #324e4d;
	--darkturquoise: #4bb7c1;
	--darkviolet: #72458b;
	--deeppink: #e63484;
	--deepskyblue: #3fb9eb;
	--dimgray: #6b6968;
	--dodgerblue: #4a83bf;
	--firebrick: #b22a39;
	--floralwhite: #fffaf0;
	--forestgreen: #338d4f;
	--fuchsia: #aa5091;
	--gainsboro: #dddbda;
	--ghostwhite: #faf8fc;
	--gold: #ffd727;
	--goldenrod: #dba73b;
	--gray: #81807f;
	--green: #29834d;
	--greenyellow: #b0d03c;
	--honeydew: #f2f8ec;
	--hotpink: #ec6da0;
	--indianred: #cf5b5b;
	--indigo: #4b3570;
	--ivory: #fffef1;
	--khaki: #f1e58a;
	--lavender: #e7e5f2;
	--lavenderblush: #feeff4;
	--lawngreen: #8dc244;
	--lemonchiffon: #fffbcd;
	--lightblue: #afd8e5;
	--lightcoral: #ef7f7f;
	--lightcyan: #e5f3f5;
	--lightgoldenrodyellow: #fbfad2;
	--lightgray: #d4d2d2;
	--lightgreen: #9bcc89;
	--lightpink: #f7b3be;
	--lightsalmon: #f49d7a;
	--lightseagreen: #2eaea7;
	--lightskyblue: #8fcdf0;
	--lightslategray: #788798;
	--lightsteelblue: #b2c4de;
	--lightyellow: #fffde1;
	--lime: #6ab54b;
	--limegreen: #59b04d;
	--linen: #fcf0e5;
	--magenta: #aa5091;
	--maroon: #7a212c;
	--mediumaquamarine: #73c0a5;
	--mediumblue: #3c478e;
	--mediumorchid: #955c9a;
	--mediumpurple: #816ea9;
	--mediumseagreen: #46ad70;
	--mediumslateblue: #6963a3;
	--mediumspringgreen: #6bba85;
	--mediumturquoise: #64bebf;
	--mediumvioletred: #c03683;
	--midnightblue: #2d3166;
	--mintcream: #f7fbf7;
	--mistyrose: #fde2e0;
	--moccasin: #ffe3b4;
	--navajowhite: #ffddac;
	--navy: #2b326d;
	--oldlace: #fff5e5;
	--olive: #848444;
	--olivedrab: #70904a;
	--orange: #f7a536;
	--orangered: #e74c3b;
	--orchid: #b875a8;
	--palegoldenrod: #efe7a8;
	--palegreen: #a4d08d;
	--paleturquoise: #b7dee2;
	--palevioletred: #dd6f92;
	--papayawhip: #ffeed5;
	--peachpuff: #fed9b8;
	--peru: #cf853e;
	--pink: #f8bdc9;
	--plum: #d0a1c4;
	--powderblue: #b3dde2;
	--purple: #783778;
	--rebeccapurple: #623c85;
	--red: #e3283b;
	--rosybrown: #bd8e8e;
	--royalblue: #4b65a6;
	--saddlebrown: #8a4a36;
	--salmon: #ef7f73;
	--sandybrown: #f6a45e;
	--seagreen: #308b55;
	--seashell: #fff4ed;
	--sienna: #a0553b;
	--silver: #c2c0c0;
	--skyblue: #8bceea;
	--slateblue: #605a9c;
	--slategray: #717f8f;
	--snow: #fffafa;
	--springgreen: #6cb867;
	--steelblue: #4882b4;
	--tan: #d4b48b;
	--teal: #08807f;
	--thistle: #d9bfd8;
	--tomato: #ea644c;
	--turquoise: #69bfbd;
	--violet: #c488b4;
	--wheat: #f6ddb1;
	--white: #ffffff;
	--whitesmoke: #f6f4f4;
	--yellow: #faef1e;
	--yellowgreen: #9dc941;
}
