/* Uncoated FOGRA29 (ISO 12647-2:2004) */

:root {
	--aliceblue: #f2f7fc;
	--antiquewhite: #fcecd7;
	--aqua: #77c7d8;
	--aquamarine: #99cfbc;
	--azure: #f2fafb;
	--beige: #f6f4db;
	--bisque: #fee4c5;
	--black: #010102;
	--blanchedalmond: #ffeacd;
	--blue: #175399;
	--blueviolet: #535196;
	--brown: #a62f2c;
	--burlywood: #dfb785;
	--cadetblue: #619e9f;
	--chartreuse: #94ba29;
	--chocolate: #d26a28;
	--coral: #ec7d53;
	--cornflowerblue: #648cc2;
	--cornsilk: #fff8dc;
	--crimson: #dd2c40;
	--cyan: #77c7d8;
	--darkblue: #22456f;
	--darkcyan: #0e8b8a;
	--darkgoldenrod: #b88727;
	--darkgray: #aba9a8;
	--darkgreen: #0a6632;
	--darkkhaki: #beb669;
	--darkmagenta: #783e87;
	--darkolivegreen: #576b2e;
	--darkorange: #ef8b1f;
	--darkorchid: #675094;
	--darkred: #882b1c;
	--darksalmon: #eb9679;
	--darkseagreen: #91bc8e;
	--darkslateblue: #473f88;
	--darkslategray: #324f4e;
	--darkturquoise: #49b7c0;
	--darkviolet: #5c4c92;
	--deeppink: #e5388a;
	--deepskyblue: #43b8e7;
	--dimgray: #6b6968;
	--dodgerblue: #3a7fbc;
	--firebrick: #b32e26;
	--floralwhite: #fff9ef;
	--forestgreen: #258d3b;
	--fuchsia: #8f5899;
	--gainsboro: #dddbda;
	--ghostwhite: #f9f7fb;
	--gold: #ffd600;
	--goldenrod: #dba51c;
	--gray: #82807f;
	--green: #0c823a;
	--greenyellow: #b0c51c;
	--honeydew: #f2f8ed;
	--hotpink: #e86ea5;
	--indianred: #cf5c5c;
	--indigo: #3a3a76;
	--ivory: #fffef0;
	--khaki: #f1e68b;
	--lavender: #e7e5f2;
	--lavenderblush: #fdeef3;
	--lawngreen: #91b92a;
	--lemonchiffon: #fff9cd;
	--lightblue: #afd8e5;
	--lightcoral: #ec7f80;
	--lightcyan: #e4f3f6;
	--lightgoldenrodyellow: #faf8d2;
	--lightgray: #d5d3d2;
	--lightgreen: #9ac886;
	--lightpink: #f5b3c0;
	--lightsalmon: #f29d79;
	--lightseagreen: #2faea7;
	--lightskyblue: #8ecaed;
	--lightslategray: #798899;
	--lightsteelblue: #b2c4dd;
	--lightyellow: #fffce1;
	--lime: #6dac33;
	--limegreen: #59a637;
	--linen: #fbefe4;
	--magenta: #8f5899;
	--maroon: #7c291d;
	--mediumaquamarine: #71bea4;
	--mediumblue: #204e91;
	--mediumorchid: #825e9e;
	--mediumpurple: #736eaa;
	--mediumseagreen: #48aa6f;
	--mediumslateblue: #5463a3;
	--mediumspringgreen: #6db780;
	--mediumturquoise: #61bcbf;
	--mediumvioletred: #be3888;
	--midnightblue: #243e65;
	--mintcream: #f7fbf8;
	--mistyrose: #fde3e1;
	--moccasin: #ffe3b4;
	--navajowhite: #feddac;
	--navy: #224169;
	--oldlace: #fef5e5;
	--olive: #81822e;
	--olivedrab: #6d9034;
	--orange: #f5a213;
	--orangered: #e34d26;
	--orchid: #ac76ac;
	--palegoldenrod: #f0e8a9;
	--palegreen: #a4cc89;
	--paleturquoise: #b7dfe4;
	--palevioletred: #dc6f92;
	--papayawhip: #ffeed5;
	--peachpuff: #fdd9b9;
	--peru: #ce843b;
	--pink: #f7bec9;
	--plum: #caa0c7;
	--powderblue: #b2dde3;
	--purple: #6b3d7d;
	--rebeccapurple: #5a418a;
	--red: #df2a26;
	--rosybrown: #bd8e8e;
	--royalblue: #3965a6;
	--saddlebrown: #8c461f;
	--salmon: #ec7f72;
	--sandybrown: #f4a45e;
	--seagreen: #318b56;
	--seashell: #fff3ed;
	--sienna: #a2512c;
	--silver: #c2c0bf;
	--skyblue: #89ceea;
	--slateblue: #4f5b9e;
	--slategray: #728090;
	--snow: #fff9f9;
	--springgreen: #6fb362;
	--steelblue: #4982b4;
	--tan: #d2b38a;
	--teal: #0a807f;
	--thistle: #d9bed7;
	--tomato: #e7644b;
	--turquoise: #68bebd;
	--violet: #b989b9;
	--wheat: #f6ddb2;
	--white: #ffffff;
	--whitesmoke: #f6f4f3;
	--yellow: #f6e200;
	--yellowgreen: #9bbe38;
}
