/* US Newsprint (SNAP 2007) */

.profile--usnewsprintsnap2007 {
	--aliceblue: #f1f6fc;
	--antiquewhite: #fbead6;
	--aqua: #72d3e3;
	--aquamarine: #99dbc5;
	--azure: #f2fbfb;
	--beige: #f7f4db;
	--bisque: #ffe3c3;
	--black: #1a100f;
	--blanchedalmond: #ffe9cc;
	--blue: #5463b0;
	--blueviolet: #805fac;
	--brown: #a52c2b;
	--burlywood: #e0b886;
	--cadetblue: #619c9e;
	--chartreuse: #90cb49;
	--chocolate: #d26933;
	--coral: #f87d50;
	--cornflowerblue: #6b90cc;
	--cornsilk: #fff7db;
	--crimson: #dd2d3f;
	--cyan: #72d3e3;
	--darkblue: #212688;
	--darkcyan: #128b8b;
	--darkgoldenrod: #b88730;
	--darkgray: #aba8a7;
	--darkgreen: #326431;
	--darkkhaki: #beb769;
	--darkmagenta: #893189;
	--darkolivegreen: #586b2e;
	--darkorange: #f98c33;
	--darkorchid: #8d58a8;
	--darkred: #852524;
	--darksalmon: #ea9577;
	--darkseagreen: #91bc8e;
	--darkslateblue: #4c3c8a;
	--darkslategray: #334f4d;
	--darkturquoise: #2fc5cb;
	--darkviolet: #8656a6;
	--deeppink: #f43292;
	--deepskyblue: #40b8e9;
	--dimgray: #6c6968;
	--dodgerblue: #4e88c9;
	--firebrick: #b0292b;
	--floralwhite: #fff9ee;
	--forestgreen: #398c47;
	--fuchsia: #be5ea9;
	--gainsboro: #dedcdb;
	--ghostwhite: #f9f7fc;
	--gold: #fed82f;
	--goldenrod: #daa638;
	--gray: #817f7e;
	--green: #388041;
	--greenyellow: #b4d744;
	--honeydew: #f1f9ed;
	--hotpink: #f766ab;
	--indianred: #cd595a;
	--indigo: #502781;
	--ivory: #fffef0;
	--khaki: #f1e588;
	--lavender: #e7e4f4;
	--lavenderblush: #fff0f4;
	--lawngreen: #8dca4a;
	--lemonchiffon: #ffface;
	--lightblue: #afd8e6;
	--lightcoral: #f17f7f;
	--lightcyan: #e4f6f8;
	--lightgoldenrodyellow: #faf9d2;
	--lightgray: #d5d2d1;
	--lightgreen: #9fd68d;
	--lightpink: #fdb6c0;
	--lightsalmon: #fb9e79;
	--lightseagreen: #26b1a8;
	--lightskyblue: #8eccef;
	--lightslategray: #798797;
	--lightsteelblue: #b3c4dc;
	--lightyellow: #fffce1;
	--lime: #70c34f;
	--limegreen: #52bc53;
	--linen: #fcf0e4;
	--magenta: #be5ea9;
	--maroon: #792625;
	--mediumaquamarine: #6bcba8;
	--mediumblue: #4a54a8;
	--mediumorchid: #a564ad;
	--mediumpurple: #8974b8;
	--mediumseagreen: #3eb26f;
	--mediumslateblue: #7772b8;
	--mediumspringgreen: #73c98b;
	--mediumturquoise: #56cac8;
	--mediumvioletred: #c62f87;
	--midnightblue: #21186f;
	--mintcream: #f7fcf7;
	--mistyrose: #ffe3df;
	--moccasin: #ffe3b3;
	--navajowhite: #ffddac;
	--navy: #1a1c7d;
	--oldlace: #fff5e6;
	--olive: #828233;
	--olivedrab: #6e8e40;
	--orange: #fca633;
	--orangered: #f24c2f;
	--orchid: #c274b4;
	--palegoldenrod: #efe7a8;
	--palegreen: #a8d98d;
	--paleturquoise: #b4e6e8;
	--palevioletred: #dc6f92;
	--papayawhip: #ffeed4;
	--peachpuff: #ffd9b7;
	--peru: #cd833a;
	--pink: #fdbfca;
	--plum: #d7a0ce;
	--powderblue: #b3e0e5;
	--purple: #7f2d80;
	--rebeccapurple: #693695;
	--red: #f02b2c;
	--rosybrown: #bd8e8d;
	--royalblue: #5871b9;
	--saddlebrown: #8b4616;
	--salmon: #f87f70;
	--sandybrown: #f6a35f;
	--seagreen: #348b54;
	--seashell: #fff5ed;
	--sienna: #a15228;
	--silver: #c2c0c0;
	--skyblue: #89ceea;
	--slateblue: #6e66b1;
	--slategray: #738090;
	--snow: #fff9f9;
	--springgreen: #76c76d;
	--steelblue: #4b82b4;
	--tan: #d3b38b;
	--teal: #148080;
	--thistle: #d9bed7;
	--tomato: #f56148;
	--turquoise: #63cdc6;
	--violet: #cd87bf;
	--wheat: #f6dcb0;
	--white: #ffffff;
	--whitesmoke: #f7f4f4;
	--yellow: #f9ed2c;
	--yellowgreen: #9cce47;
}
