/* U.S. Sheetfed Coated v2 */

:root {
	--aliceblue: #f1f8fd;
	--antiquewhite: #fbead7;
	--aqua: #7ccad9;
	--aquamarine: #9fd2bd;
	--azure: #f2f9fa;
	--beige: #f6f5dc;
	--bisque: #fee3c3;
	--black: #030101;
	--blanchedalmond: #ffeacd;
	--blue: #364d93;
	--blueviolet: #68468d;
	--brown: #a62729;
	--burlywood: #dfb785;
	--cadetblue: #619e9f;
	--chartreuse: #98c12b;
	--chocolate: #d2681c;
	--coral: #ec7c53;
	--cornflowerblue: #708ec2;
	--cornsilk: #fff8dc;
	--crimson: #dd243f;
	--cyan: #7ccad9;
	--darkblue: #2c2d69;
	--darkcyan: #028b8b;
	--darkgoldenrod: #b88623;
	--darkgray: #aaa8a8;
	--darkgreen: #0a642d;
	--darkkhaki: #bfb76a;
	--darkmagenta: #83257d;
	--darkolivegreen: #566b2e;
	--darkorange: #ef8a1a;
	--darkorchid: #78458c;
	--darkred: #8b1d15;
	--darksalmon: #ea9579;
	--darkseagreen: #91bc8e;
	--darkslateblue: #4a3e89;
	--darkslategray: #314f4f;
	--darkturquoise: #4ebbc3;
	--darkviolet: #703f89;
	--deeppink: #e53484;
	--deepskyblue: #45b9ea;
	--dimgray: #6a6969;
	--dodgerblue: #5083bc;
	--firebrick: #b32322;
	--floralwhite: #fff9f0;
	--forestgreen: #288c37;
	--fuchsia: #a85493;
	--gainsboro: #dddcdc;
	--ghostwhite: #f8f7fb;
	--gold: #ffd707;
	--goldenrod: #daa51c;
	--gray: #817f7f;
	--green: #118136;
	--greenyellow: #b5cc21;
	--honeydew: #f3f8ec;
	--hotpink: #e96f9f;
	--indianred: #ce5a5b;
	--indigo: #4b1d78;
	--ivory: #fffef1;
	--khaki: #f1e589;
	--lavender: #e7e5f2;
	--lavenderblush: #feeff4;
	--lawngreen: #96c12c;
	--lemonchiffon: #fffacc;
	--lightblue: #afd7e5;
	--lightcoral: #ed7e7e;
	--lightcyan: #e5f3f6;
	--lightgoldenrodyellow: #faf9d1;
	--lightgray: #d4d2d1;
	--lightgreen: #a1cc87;
	--lightpink: #f7b4bf;
	--lightsalmon: #f39e7a;
	--lightseagreen: #26b2a9;
	--lightskyblue: #8ecbef;
	--lightslategray: #788798;
	--lightsteelblue: #b2c4dd;
	--lightyellow: #fffce0;
	--lime: #74b533;
	--limegreen: #5cae37;
	--linen: #fcf1e5;
	--magenta: #a85493;
	--maroon: #7f1a14;
	--mediumaquamarine: #73c0a3;
	--mediumblue: #34428c;
	--mediumorchid: #965e9a;
	--mediumpurple: #826fa8;
	--mediumseagreen: #46ae70;
	--mediumslateblue: #6c66a3;
	--mediumspringgreen: #76bd83;
	--mediumturquoise: #63c0c0;
	--mediumvioletred: #c1237e;
	--midnightblue: #2c2a5b;
	--mintcream: #f7fbf7;
	--mistyrose: #fee3e0;
	--moccasin: #ffe3b4;
	--navajowhite: #feddac;
	--navy: #2c2b5e;
	--oldlace: #fff5e5;
	--olive: #81812a;
	--olivedrab: #6c8e31;
	--orange: #f4a218;
	--orangered: #e2481f;
	--orchid: #b878a9;
	--palegoldenrod: #efe7a8;
	--palegreen: #abd08a;
	--paleturquoise: #b7e0e4;
	--palevioletred: #dc6f92;
	--papayawhip: #ffeed5;
	--peachpuff: #fdd9b9;
	--peru: #ce843d;
	--pink: #f9bdc9;
	--plum: #d0a1c4;
	--powderblue: #b3dee4;
	--purple: #7d1f7b;
	--rebeccapurple: #623a87;
	--red: #df251f;
	--rosybrown: #bd8f8e;
	--royalblue: #4d62a2;
	--saddlebrown: #8c451b;
	--salmon: #ed7d71;
	--sandybrown: #f5a45f;
	--seagreen: #2f8b57;
	--seashell: #fff4ed;
	--sienna: #a1512d;
	--silver: #c1bfbe;
	--skyblue: #89ceea;
	--slateblue: #60599a;
	--slategray: #718090;
	--snow: #fff9f9;
	--springgreen: #7abb64;
	--steelblue: #4982b4;
	--tan: #d3b38a;
	--teal: #0b8080;
	--thistle: #d9bfd8;
	--tomato: #e7624c;
	--turquoise: #6ec2be;
	--violet: #c48ab5;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f5;
	--yellow: #f6e805;
	--yellowgreen: #9cc337;
}
