/* U.S. Sheetfed Uncoated v2 */

:root {
	--aliceblue: #f2f8fc;
	--antiquewhite: #fbead6;
	--aqua: #6bc1d2;
	--aquamarine: #95ccb7;
	--azure: #f2f8f9;
	--beige: #f6f4db;
	--bisque: #f9e1c4;
	--black: #090705;
	--blanchedalmond: #fbe8cd;
	--blue: #555e99;
	--blueviolet: #795d94;
	--brown: #a72b2a;
	--burlywood: #dfb785;
	--cadetblue: #609d9e;
	--chartreuse: #8ebd3a;
	--chocolate: #d16a2a;
	--coral: #e47a54;
	--cornflowerblue: #708bbc;
	--cornsilk: #fef6dc;
	--crimson: #d8153c;
	--cyan: #6bc1d2;
	--darkblue: #3f3e7e;
	--darkcyan: #098a8a;
	--darkgoldenrod: #b8872a;
	--darkgray: #aaa8a8;
	--darkgreen: #2a6531;
	--darkkhaki: #beb66a;
	--darkmagenta: #853b7c;
	--darkolivegreen: #586c2e;
	--darkorange: #e78725;
	--darkorchid: #845990;
	--darkred: #8a1716;
	--darksalmon: #ea9578;
	--darkseagreen: #90bb8e;
	--darkslateblue: #4f4584;
	--darkslategray: #33504f;
	--darkturquoise: #45b6bf;
	--darkviolet: #7f568e;
	--deeppink: #de3578;
	--deepskyblue: #43b8e7;
	--dimgray: #6b6a69;
	--dodgerblue: #5481b7;
	--firebrick: #b32428;
	--floralwhite: #fef8ef;
	--forestgreen: #2e8c42;
	--fuchsia: #a9568b;
	--gainsboro: #dddbda;
	--ghostwhite: #f9f7fa;
	--gold: #fbd406;
	--goldenrod: #daa424;
	--gray: #817f7f;
	--green: #1e813f;
	--greenyellow: #aeca2f;
	--honeydew: #f1f6eb;
	--hotpink: #df6b96;
	--indianred: #ce5b5b;
	--indigo: #58377a;
	--ivory: #fffdf1;
	--khaki: #f1e58a;
	--lavender: #e7e4f0;
	--lavenderblush: #fbeef3;
	--lawngreen: #8bbc3b;
	--lemonchiffon: #fff9cd;
	--lightblue: #afd7e4;
	--lightcoral: #e57d7f;
	--lightcyan: #e3f1f5;
	--lightgoldenrodyellow: #faf8d1;
	--lightgray: #d4d2d1;
	--lightgreen: #9ac883;
	--lightpink: #efb2be;
	--lightsalmon: #eb9b7b;
	--lightseagreen: #2cafa8;
	--lightskyblue: #8fcaec;
	--lightslategray: #788798;
	--lightsteelblue: #b2c3dc;
	--lightyellow: #fffbe0;
	--lime: #66b042;
	--limegreen: #53ab45;
	--linen: #fcefe5;
	--magenta: #a9568b;
	--maroon: #800f11;
	--mediumaquamarine: #72bea2;
	--mediumblue: #515692;
	--mediumorchid: #966195;
	--mediumpurple: #826ea1;
	--mediumseagreen: #46ac6e;
	--mediumslateblue: #736ca1;
	--mediumspringgreen: #68b67c;
	--mediumturquoise: #61bcbd;
	--mediumvioletred: #b83477;
	--midnightblue: #2e2c6d;
	--mintcream: #f6faf6;
	--mistyrose: #f9e1df;
	--moccasin: #fae2b5;
	--navajowhite: #f9dbad;
	--navy: #373775;
	--oldlace: #fdf4e5;
	--olive: #818130;
	--olivedrab: #6d8e3a;
	--orange: #eda020;
	--orangered: #db492c;
	--orchid: #b374a0;
	--palegoldenrod: #efe7a9;
	--palegreen: #a4cb84;
	--paleturquoise: #b5dce1;
	--palevioletred: #dc6e92;
	--papayawhip: #fcedd5;
	--peachpuff: #f7d7ba;
	--peru: #ce843c;
	--pink: #f1bcc9;
	--plum: #cc9ebe;
	--powderblue: #b3dce2;
	--purple: #7f3377;
	--rebeccapurple: #6a4c88;
	--red: #d72130;
	--rosybrown: #bd8e8e;
	--royalblue: #5b6ca4;
	--saddlebrown: #8c471c;
	--salmon: #e57c72;
	--sandybrown: #eda260;
	--seagreen: #318a55;
	--seashell: #fdf3ed;
	--sienna: #a1522d;
	--silver: #c1bfbf;
	--skyblue: #8acee9;
	--slateblue: #6c659c;
	--slategray: #727f90;
	--snow: #fef9f9;
	--springgreen: #6ab45c;
	--steelblue: #4881b3;
	--tan: #d3b38a;
	--teal: #0e8080;
	--thistle: #d8bed5;
	--tomato: #df604c;
	--turquoise: #66bdba;
	--violet: #c085ac;
	--wheat: #f6ddb2;
	--white: #ffffff;
	--whitesmoke: #f8f5f5;
	--yellow: #f6e700;
	--yellowgreen: #9bc237;
}
