/* U.S. Web Coated (SWOP) v2 */

:root {
	--aliceblue: #f2f8fd;
	--antiquewhite: #faead6;
	--aqua: #70ccdc;
	--aquamarine: #9ad4bf;
	--azure: #f2fafa;
	--beige: #f6f4db;
	--bisque: #ffe3c3;
	--black: #070404;
	--blanchedalmond: #ffeacc;
	--blue: #3b53a4;
	--blueviolet: #784fa0;
	--brown: #a62929;
	--burlywood: #dfb785;
	--cadetblue: #629e9f;
	--chartreuse: #93c83d;
	--chocolate: #d36927;
	--coral: #f47d51;
	--cornflowerblue: #6f90ca;
	--cornsilk: #fff7dc;
	--crimson: #dc1d3d;
	--cyan: #70ccdc;
	--darkblue: #2a2c7c;
	--darkcyan: #0a8b8a;
	--darkgoldenrod: #b7872c;
	--darkgray: #aba9a9;
	--darkgreen: #196533;
	--darkkhaki: #beb76a;
	--darkmagenta: #882787;
	--darkolivegreen: #576b2f;
	--darkorange: #f68b1e;
	--darkorchid: #874c9e;
	--darkred: #8b171a;
	--darksalmon: #eb9679;
	--darkseagreen: #90bc8e;
	--darkslateblue: #493d8b;
	--darkslategray: #314f4f;
	--darkturquoise: #3ec1c7;
	--darkviolet: #80469b;
	--deeppink: #ed2891;
	--deepskyblue: #42baec;
	--dimgray: #6b6968;
	--dodgerblue: #4e86c6;
	--firebrick: #b32324;
	--floralwhite: #fff9ef;
	--forestgreen: #278c43;
	--fuchsia: #ba529e;
	--gainsboro: #dedcdb;
	--ghostwhite: #f8f7fb;
	--gold: #ffd700;
	--goldenrod: #dba527;
	--gray: #828080;
	--green: #108140;
	--greenyellow: #b4d334;
	--honeydew: #f2f8ed;
	--hotpink: #f06aa8;
	--indianred: #cf5b5c;
	--indigo: #4f297c;
	--ivory: #fffef1;
	--khaki: #f0e58a;
	--lavender: #e8e5f3;
	--lavenderblush: #fdeff4;
	--lawngreen: #90c73e;
	--lemonchiffon: #ffface;
	--lightblue: #b0d8e5;
	--lightcoral: #f07f7e;
	--lightcyan: #e4f4f7;
	--lightgoldenrodyellow: #fbf9d2;
	--lightgray: #d4d3d2;
	--lightgreen: #9ed088;
	--lightpink: #f8b3bf;
	--lightsalmon: #f89e7a;
	--lightseagreen: #22b1a9;
	--lightskyblue: #8eccf0;
	--lightslategray: #798898;
	--lightsteelblue: #b2c3dd;
	--lightyellow: #fffce0;
	--lime: #6abd45;
	--limegreen: #52b848;
	--linen: #fbf0e6;
	--magenta: #ba529e;
	--maroon: #7f1416;
	--mediumaquamarine: #6ec5a6;
	--mediumblue: #38449c;
	--mediumorchid: #a05da5;
	--mediumpurple: #8870b2;
	--mediumseagreen: #3eb26f;
	--mediumslateblue: #6f68af;
	--mediumspringgreen: #6ec286;
	--mediumturquoise: #5bc5c4;
	--mediumvioletred: #c71784;
	--midnightblue: #2a276b;
	--mintcream: #f7fbf8;
	--mistyrose: #fde2df;
	--moccasin: #ffe3b3;
	--navajowhite: #ffdead;
	--navy: #292874;
	--oldlace: #fff5e6;
	--olive: #808133;
	--olivedrab: #6c8f3c;
	--orange: #faa31a;
	--orangered: #ef4823;
	--orchid: #c376b1;
	--palegoldenrod: #efe7a8;
	--palegreen: #a7d48c;
	--paleturquoise: #b6e2e5;
	--palevioletred: #dc6f93;
	--papayawhip: #ffefd6;
	--peachpuff: #fed9b8;
	--peru: #ce853c;
	--pink: #f9beca;
	--plum: #d6a1c9;
	--powderblue: #b3e1e6;
	--purple: #7e277d;
	--rebeccapurple: #683694;
	--red: #ed1d24;
	--rosybrown: #bd8e8e;
	--royalblue: #4f68b1;
	--saddlebrown: #8c461f;
	--salmon: #f47e71;
	--sandybrown: #f4a45e;
	--seagreen: #308b57;
	--seashell: #fff4ee;
	--sienna: #a1522b;
	--silver: #c2c0bf;
	--skyblue: #89cde9;
	--slateblue: #685ea9;
	--slategray: #718090;
	--snow: #fff9f9;
	--springgreen: #71c167;
	--steelblue: #4982b4;
	--tan: #d3b48b;
	--teal: #06817f;
	--thistle: #d9bed7;
	--tomato: #f2634a;
	--turquoise: #66c7c1;
	--violet: #ce8abc;
	--wheat: #f5ddb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f5;
	--yellow: #f8ec10;
	--yellowgreen: #9bcb3b;
}
