/* Web Coated SWOP 2006 Grade 5 Paper */

:root {
	--aliceblue: #f2f8fd;
	--antiquewhite: #fbead6;
	--aqua: #72ccdc;
	--aquamarine: #9ad3be;
	--azure: #f2fafb;
	--beige: #f6f4db;
	--bisque: #fee3c4;
	--black: #010201;
	--blanchedalmond: #ffeacc;
	--blue: #3c58a7;
	--blueviolet: #7a54a3;
	--brown: #a62828;
	--burlywood: #dfb886;
	--cadetblue: #619e9f;
	--chartreuse: #92c840;
	--chocolate: #d26a2c;
	--coral: #f47d52;
	--cornflowerblue: #6e90ca;
	--cornsilk: #fff8dc;
	--crimson: #dc213d;
	--cyan: #72ccdc;
	--darkblue: #2b2f7e;
	--darkcyan: #008c8b;
	--darkgoldenrod: #b7872c;
	--darkgray: #aaa9a8;
	--darkgreen: #1d6435;
	--darkkhaki: #bdb669;
	--darkmagenta: #882b87;
	--darkolivegreen: #576b31;
	--darkorange: #f68b24;
	--darkorchid: #8850a0;
	--darkred: #8a1e20;
	--darksalmon: #eb9579;
	--darkseagreen: #90bb8e;
	--darkslateblue: #4a3d8b;
	--darkslategray: #314f4f;
	--darkturquoise: #3fc1c7;
	--darkviolet: #834a9d;
	--deeppink: #ec2990;
	--deepskyblue: #3ebbec;
	--dimgray: #6a6867;
	--dodgerblue: #4b87c6;
	--firebrick: #b22429;
	--floralwhite: #fffaf0;
	--forestgreen: #2b8c44;
	--fuchsia: #bc55a0;
	--gainsboro: #dddbda;
	--ghostwhite: #faf8fc;
	--gold: #ffd608;
	--goldenrod: #daa529;
	--gray: #82807f;
	--green: #138041;
	--greenyellow: #b3d237;
	--honeydew: #f3f8ec;
	--hotpink: #f06ba9;
	--indianred: #cf5b5b;
	--indigo: #4f2c7c;
	--ivory: #fffdf1;
	--khaki: #f2e68a;
	--lavender: #e7e5f3;
	--lavenderblush: #fdeff4;
	--lawngreen: #8ec641;
	--lemonchiffon: #ffface;
	--lightblue: #afd8e5;
	--lightcoral: #f17f7f;
	--lightcyan: #e4f4f7;
	--lightgoldenrodyellow: #fbf8d2;
	--lightgray: #d4d2d2;
	--lightgreen: #9ecf86;
	--lightpink: #f7b3bf;
	--lightsalmon: #f79e7a;
	--lightseagreen: #23b3aa;
	--lightskyblue: #8eccf0;
	--lightslategray: #798898;
	--lightsteelblue: #b2c4dd;
	--lightyellow: #fffbe0;
	--lime: #67bd47;
	--limegreen: #50b84a;
	--linen: #fbf0e4;
	--magenta: #bc55a0;
	--maroon: #7e1c1e;
	--mediumaquamarine: #6fc5a6;
	--mediumblue: #364a9f;
	--mediumorchid: #a25fa7;
	--mediumpurple: #8871b3;
	--mediumseagreen: #3fb471;
	--mediumslateblue: #716bb1;
	--mediumspringgreen: #6dc282;
	--mediumturquoise: #5cc5c3;
	--mediumvioletred: #c61d83;
	--midnightblue: #2c2b6c;
	--mintcream: #f6faf7;
	--mistyrose: #fde3df;
	--moccasin: #ffe4b4;
	--navajowhite: #ffdead;
	--navy: #2a2c75;
	--oldlace: #fff6e6;
	--olive: #818133;
	--olivedrab: #6c8f3d;
	--orange: #faa420;
	--orangered: #f04929;
	--orchid: #c376b1;
	--palegoldenrod: #f0e8a9;
	--palegreen: #a9d38a;
	--paleturquoise: #b6e1e5;
	--palevioletred: #dc6f92;
	--papayawhip: #ffeed5;
	--peachpuff: #fed9b9;
	--peru: #cd843c;
	--pink: #f8beca;
	--plum: #d5a0c9;
	--powderblue: #b2dfe4;
	--purple: #7e2b7d;
	--rebeccapurple: #683794;
	--red: #ed1f29;
	--rosybrown: #bd8e8e;
	--royalblue: #506bb3;
	--saddlebrown: #8a4523;
	--salmon: #f37e72;
	--sandybrown: #f6a55f;
	--seagreen: #2e8b57;
	--seashell: #fff4ee;
	--sienna: #a1512b;
	--silver: #c2c0bf;
	--skyblue: #88ceeb;
	--slateblue: #6960aa;
	--slategray: #728090;
	--snow: #fffafa;
	--springgreen: #70c064;
	--steelblue: #4982b4;
	--tan: #d3b48b;
	--teal: #0d807f;
	--thistle: #d9bed7;
	--tomato: #f2634a;
	--turquoise: #65c6c0;
	--violet: #ce8abc;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f6f4f4;
	--yellow: #f7eb01;
	--yellowgreen: #9cca3e;
}
