/* Web Coated SWOP 2006 Grade 3 Paper */

.profile--webcoatedswop2006grade3 {
	--aliceblue: #f1f7fc;
	--antiquewhite: #fcebd7;
	--aqua: #73cddc;
	--aquamarine: #9ad5bf;
	--azure: #f2fafb;
	--beige: #f7f5dc;
	--bisque: #ffe4c3;
	--black: #020202;
	--blanchedalmond: #ffebcd;
	--blue: #3f52a1;
	--blueviolet: #76509d;
	--brown: #a72829;
	--burlywood: #dfb785;
	--cadetblue: #619e9f;
	--chartreuse: #90c73b;
	--chocolate: #d36926;
	--coral: #f47c51;
	--cornflowerblue: #7090c8;
	--cornsilk: #fff8dc;
	--crimson: #dd1b3d;
	--cyan: #73cddc;
	--darkblue: #2e3079;
	--darkcyan: #028b8b;
	--darkgoldenrod: #b88728;
	--darkgray: #aaa8a8;
	--darkgreen: #196536;
	--darkkhaki: #beb76a;
	--darkmagenta: #862d85;
	--darkolivegreen: #576c31;
	--darkorange: #f68b1c;
	--darkorchid: #854c9a;
	--darkred: #8c1b19;
	--darksalmon: #eb9579;
	--darkseagreen: #90bc8e;
	--darkslateblue: #493d8b;
	--darkslategray: #314f4e;
	--darkturquoise: #41c1c7;
	--darkviolet: #7f4697;
	--deeppink: #eb2c8b;
	--deepskyblue: #47bae9;
	--dimgray: #6a6969;
	--dodgerblue: #4e86c3;
	--firebrick: #b32122;
	--floralwhite: #fffaef;
	--forestgreen: #2b8c43;
	--fuchsia: #b7539b;
	--gainsboro: #dedcdb;
	--ghostwhite: #f9f8fb;
	--gold: #ffd700;
	--goldenrod: #dba523;
	--gray: #817f7f;
	--green: #158141;
	--greenyellow: #b3d12f;
	--honeydew: #f2f8ed;
	--hotpink: #f06da6;
	--indianred: #ce5a5a;
	--indigo: #4f3078;
	--ivory: #fffef1;
	--khaki: #f1e58a;
	--lavender: #e7e5f2;
	--lavenderblush: #fef0f4;
	--lawngreen: #8fc63b;
	--lemonchiffon: #fffacc;
	--lightblue: #aed7e5;
	--lightcoral: #f17e7e;
	--lightcyan: #e4f4f6;
	--lightgoldenrodyellow: #fbf9d2;
	--lightgray: #d4d2d2;
	--lightgreen: #9cd088;
	--lightpink: #f9b5c0;
	--lightsalmon: #f89e79;
	--lightseagreen: #22b3aa;
	--lightskyblue: #90ccee;
	--lightslategray: #778898;
	--lightsteelblue: #b2c4dd;
	--lightyellow: #fffce0;
	--lime: #68bd42;
	--limegreen: #50b845;
	--linen: #fcf0e6;
	--magenta: #b7539b;
	--maroon: #801916;
	--mediumaquamarine: #6cc6a6;
	--mediumblue: #364699;
	--mediumorchid: #9e5da2;
	--mediumpurple: #876faf;
	--mediumseagreen: #3fb470;
	--mediumslateblue: #7067ac;
	--mediumspringgreen: #6bc386;
	--mediumturquoise: #5ac5c4;
	--mediumvioletred: #c61984;
	--midnightblue: #2d2e69;
	--mintcream: #f6fbf7;
	--mistyrose: #fee3df;
	--moccasin: #ffe3b3;
	--navajowhite: #ffddac;
	--navy: #2c2d70;
	--oldlace: #fdf4e5;
	--olive: #818231;
	--olivedrab: #6c8e3b;
	--orange: #faa316;
	--orangered: #ec4920;
	--orchid: #c176af;
	--palegoldenrod: #efe7a8;
	--palegreen: #a6d48b;
	--paleturquoise: #b6e2e5;
	--palevioletred: #dd6f92;
	--papayawhip: #ffefd5;
	--peachpuff: #ffdab9;
	--peru: #ce853c;
	--pink: #fabdc9;
	--plum: #d4a1c8;
	--powderblue: #b2e0e5;
	--purple: #7c2e7a;
	--rebeccapurple: #683991;
	--red: #e81e20;
	--rosybrown: #be8f8f;
	--royalblue: #5067ae;
	--saddlebrown: #8c461f;
	--salmon: #f47e71;
	--sandybrown: #f6a45f;
	--seagreen: #2f8c57;
	--seashell: #fff4ec;
	--sienna: #a2512c;
	--silver: #c2bfbe;
	--skyblue: #88ceeb;
	--slateblue: #685ea6;
	--slategray: #71808f;
	--snow: #fff9f9;
	--springgreen: #70c16a;
	--steelblue: #4982b4;
	--tan: #d2b38a;
	--teal: #0a807f;
	--thistle: #d9bfd8;
	--tomato: #f0634b;
	--turquoise: #67c7c1;
	--violet: #cc89b9;
	--wheat: #f8deb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f4;
	--yellow: #f7eb0f;
	--yellowgreen: #9bca38;
}
