/* Web Coated FOGRA28 (ISO 12647-2:2004) */

.profile--webcoatedfogra28 {
	--aliceblue: #f2f7fc;
	--antiquewhite: #fcebd7;
	--aqua: #72cbdb;
	--aquamarine: #99d1bd;
	--azure: #f3fafb;
	--beige: #f7f5db;
	--bisque: #fee3c4;
	--black: #010101;
	--blanchedalmond: #ffeacc;
	--blue: #2c4a9a;
	--blueviolet: #674997;
	--brown: #a72828;
	--burlywood: #dfb785;
	--cadetblue: #619d9f;
	--chartreuse: #90bb00;
	--chocolate: #d3681d;
	--coral: #ef7c52;
	--cornflowerblue: #6c8ec7;
	--cornsilk: #fff8dc;
	--crimson: #dd103b;
	--cyan: #72cbdb;
	--darkblue: #252b7c;
	--darkcyan: #028b8b;
	--darkgoldenrod: #b8860b;
	--darkgray: #aaa8a7;
	--darkgreen: #08641f;
	--darkkhaki: #beb669;
	--darkmagenta: #841f82;
	--darkolivegreen: #566b2d;
	--darkorange: #f28913;
	--darkorchid: #774795;
	--darkred: #8b1512;
	--darksalmon: #eb9578;
	--darkseagreen: #8fbb8d;
	--darkslateblue: #493d8b;
	--darkslategray: #314f4e;
	--darkturquoise: #41bdc5;
	--darkviolet: #6e4192;
	--deeppink: #e62f8a;
	--deepskyblue: #46b8e7;
	--dimgray: #6a6969;
	--dodgerblue: #4a82c1;
	--firebrick: #b32020;
	--floralwhite: #fffaf0;
	--forestgreen: #258b23;
	--fuchsia: #a55199;
	--gainsboro: #dedcdb;
	--ghostwhite: #f9f8fb;
	--gold: #ffd700;
	--goldenrod: #dba417;
	--gray: #81807f;
	--green: #098123;
	--greenyellow: #b2c600;
	--honeydew: #f1f7ec;
	--hotpink: #ec6da5;
	--indianred: #ce5b5b;
	--indigo: #4a267c;
	--ivory: #fffdf1;
	--khaki: #f1e68b;
	--lavender: #e8e5f2;
	--lavenderblush: #fdeef3;
	--lawngreen: #8ebb00;
	--lemonchiffon: #fff8cc;
	--lightblue: #b0d9e6;
	--lightcoral: #ee7f7f;
	--lightcyan: #e5f4f7;
	--lightgoldenrodyellow: #faf7d2;
	--lightgray: #d5d3d2;
	--lightgreen: #9dca85;
	--lightpink: #f5b4c0;
	--lightsalmon: #f49d7a;
	--lightseagreen: #23b2a9;
	--lightskyblue: #90cbed;
	--lightslategray: #788798;
	--lightsteelblue: #b1c3dc;
	--lightyellow: #fefae0;
	--lime: #69b012;
	--limegreen: #54ad31;
	--linen: #fcf0e5;
	--magenta: #a55199;
	--maroon: #7f1610;
	--mediumaquamarine: #70c1a4;
	--mediumblue: #2b4093;
	--mediumorchid: #945ca0;
	--mediumpurple: #806eae;
	--mediumseagreen: #40b06f;
	--mediumslateblue: #6563a8;
	--mediumspringgreen: #6cbb7f;
	--mediumturquoise: #5dc2c2;
	--mediumvioletred: #c61883;
	--midnightblue: #27256b;
	--mintcream: #f7fbf7;
	--mistyrose: #fce3e0;
	--moccasin: #ffe3b4;
	--navajowhite: #ffdead;
	--navy: #252873;
	--oldlace: #fef5e5;
	--olive: #818012;
	--olivedrab: #6c8e21;
	--orange: #f8a311;
	--orangered: #e8481e;
	--orchid: #b975ae;
	--palegoldenrod: #f0e8a9;
	--palegreen: #a6ce87;
	--paleturquoise: #b6e0e5;
	--palevioletred: #dc6f92;
	--papayawhip: #ffeed5;
	--peachpuff: #fdd9b9;
	--peru: #ce843c;
	--pink: #f6bdca;
	--plum: #d09fc8;
	--powderblue: #b3dfe4;
	--purple: #7c217e;
	--rebeccapurple: #63388d;
	--red: #e4201f;
	--rosybrown: #bd8e8e;
	--royalblue: #4562aa;
	--saddlebrown: #8c4511;
	--salmon: #ee7d72;
	--sandybrown: #f5a35e;
	--seagreen: #308b56;
	--seashell: #fff4ed;
	--sienna: #a1522b;
	--silver: #c1bfbe;
	--skyblue: #89ceeb;
	--slateblue: #5d58a1;
	--slategray: #71808f;
	--snow: #fff9f9;
	--springgreen: #6eb85f;
	--steelblue: #4882b3;
	--tan: #d2b38a;
	--teal: #02807f;
	--thistle: #d9bfd8;
	--tomato: #eb614a;
	--turquoise: #68c4bf;
	--violet: #c488b9;
	--wheat: #f7deb2;
	--white: #ffffff;
	--whitesmoke: #f7f5f4;
	--yellow: #f5e200;
	--yellowgreen: #9bc137;
}
