.swatch {
	text-align: center;
}

.swatch__color {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: 100%;
	padding: 0 0 100% 0;
	height: 0;
	transition: background-color 0.2s;
	margin: 0 auto 1em;
	line-height: 1;
	border: none;
	display: block;
}

.swatch__color:focus {
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
	outline: none;
}

.swatch__name {
	font-size: 1em;
	margin: 0.5em 0 0;
	font-weight: normal;
	opacity: 0.75;
}

.swatch__value {
	display: block;
	font-size: 1.6em;
}
