.swatch {
	text-align: center;
}

.swatch__color {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: 100%;
	padding: 0 0 100% 0;
	height: 0;
	transition: background-color 0.2s;
	margin: 0 auto 1em;
	line-height: 1;
	border: none;
	display: block;
}

.swatch__color:focus {
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
	outline: none;
}

.swatch__name {
	font-size: 1em;
	margin: 0;
	font-weight: normal;
	opacity: 0.75;
}

.swatch__value {
	display: block;
	font-size: 1.6em;
}

.tinyswatch {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
		sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

article {
	padding: 2em;
	transition: background-color 0.2s;
}

a {
	color: #5463a3;
}

a[href=''] {
	display: none;
}


header {
	padding: 1em 2em;
	background: #000;
	color: #fff;
}

header h1 {
	font-size: 1.4em;
}

header a {
	color: #4982b4;
}

.main--light {
	color: #333;
}

.main--dark {
	color: #fff;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 2em;
	border-bottom: 1px solid #333;
	position: -webkit-sticky;
	position: sticky;
	/* Fix for Firefox */
	z-index: 10;
	background: #fff;
	color: #333;
	top: 0;
}

label {
	font-weight: bold;
	display: block;
}

/* safari only */
select {
	font-size: max(1em, 16px);
}

select,
input {
	vertical-align: middle;
	width: 16em;
}

.swatchlist {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	--scale: 10em;
}

.swatchlist > .swatch {
	margin: 1em;
	margin: calc(var(--scale) / 10);
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 10em;
	flex-basis: var(--scale);
}

footer {
	padding: 3em 2em;
	max-width: 40em;
}

footer code {
	font-size: 1.3em;
	word-break: break-all;
	background: #f6f6f7;
}

footer hr {
	border: none;
	height: 0.2em;
	background-color: #eee;
	margin: 2em 0;
}

blockquote {
	border-left: 0.2em solid #eee;
	margin-left: 0;
	padding-left: 2em;
}

@media (max-width: 50em) {
	.controls {
		display: block;
	}

	.controls > * + * {
		margin-top: 0.5em;
	}
}

