body {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
		sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	padding: 1em 2em;
	background: #000;
	color: #fff;
}

header h1 {
	font-size: 1.4em;
}

article {
	padding: 2em;
}

a {
	color: #5463a3;
}

.main--light {
	color: #333;
}

.main--dark {
	color: #fff;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 2em;
	border-bottom: 1px solid #000;
	position: sticky;
	position: -webkit-sticky;
	background: #fff;
	color: #333;
	top: 0;
}

label {
	font-weight: bold;
	display: block;
}

select,
input {
	vertical-align: middle;
}

.swatchlist {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	--scale: 10em;
}

.swatchlist > .swatch {
	margin: 1em;
	margin: calc(var(--scale) / 10);
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 10em;
	flex-basis: var(--scale);
}

footer {
	padding: 2em;
}

@media (max-width: 30em) {
	.controls {
		display: block;
	}
}
