.rgb .AliceBlue { background-color: #f0f8ff; }
.rgb .AntiqueWhite { background-color: #faebd7; }
.rgb .Aqua { background-color: #00ffff; }
.rgb .Aquamarine { background-color: #7fffd4; }
.rgb .Azure { background-color: #f0ffff; }
.rgb .Beige { background-color: #f5f5dc; }
.rgb .Bisque { background-color: #ffe4c4; }
.rgb .Black { background-color: #000000; }
.rgb .BlanchedAlmond { background-color: #ffebcd; }
.rgb .Blue { background-color: #0000ff; }
.rgb .BlueViolet { background-color: #8a2be2; }
.rgb .Brown { background-color: #a52a2a; }
.rgb .BurlyWood { background-color: #deb887; }
.rgb .CadetBlue { background-color: #5f9ea0; }
.rgb .Chartreuse { background-color: #7fff00; }
.rgb .Chocolate { background-color: #d2691e; }
.rgb .Coral { background-color: #ff7f50; }
.rgb .CornflowerBlue { background-color: #6495ed; }
.rgb .Cornsilk { background-color: #fff8dc; }
.rgb .Crimson { background-color: #dc143c; }
.rgb .Cyan { background-color: #00ffff; }
.rgb .DarkBlue { background-color: #00008b; }
.rgb .DarkCyan { background-color: #008b8b; }
.rgb .DarkGoldenRod { background-color: #b8860b; }
.rgb .DarkGray { background-color: #a9a9a9; }
.rgb .DarkGreen { background-color: #006400; }
.rgb .DarkKhaki { background-color: #bdb76b; }
.rgb .DarkMagenta { background-color: #8b008b; }
.rgb .DarkOliveGreen { background-color: #556b2f; }
.rgb .DarkOrange { background-color: #ff8c00; }
.rgb .DarkOrchid { background-color: #9932cc; }
.rgb .DarkRed { background-color: #8b0000; }
.rgb .DarkSalmon { background-color: #e9967a; }
.rgb .DarkSeaGreen { background-color: #8fbc8f; }
.rgb .DarkSlateBlue { background-color: #483d8b; }
.rgb .DarkSlateGray { background-color: #2f4f4f; }
.rgb .DarkTurquoise { background-color: #00ced1; }
.rgb .DarkViolet { background-color: #9400d3; }
.rgb .DeepPink { background-color: #ff1493; }
.rgb .DeepSkyBlue { background-color: #00bfff; }
.rgb .DimGray { background-color: #696969; }
.rgb .DodgerBlue { background-color: #1e90ff; }
.rgb .FireBrick { background-color: #b22222; }
.rgb .FloralWhite { background-color: #fffaf0; }
.rgb .ForestGreen { background-color: #228b22; }
.rgb .Fuchsia { background-color: #ff00ff; }
.rgb .Gainsboro { background-color: #dcdcdc; }
.rgb .GhostWhite { background-color: #f8f8ff; }
.rgb .Gold { background-color: #ffd700; }
.rgb .GoldenRod { background-color: #daa520; }
.rgb .Gray { background-color: #808080; }
.rgb .Green { background-color: #008000; }
.rgb .GreenYellow { background-color: #adff2f; }
.rgb .HoneyDew { background-color: #f0fff0; }
.rgb .HotPink { background-color: #ff69b4; }
.rgb .IndianRed  { background-color: #cd5c5c; }
.rgb .Indigo  { background-color: #4b0082; }
.rgb .Ivory { background-color: #fffff0; }
.rgb .Khaki { background-color: #f0e68c; }
.rgb .Lavender { background-color: #e6e6fa; }
.rgb .LavenderBlush { background-color: #fff0f5; }
.rgb .LawnGreen { background-color: #7cfc00; }
.rgb .LemonChiffon { background-color: #fffacd; }
.rgb .LightBlue { background-color: #add8e6; }
.rgb .LightCoral { background-color: #f08080; }
.rgb .LightCyan { background-color: #e0ffff; }
.rgb .LightGoldenRodYellow { background-color: #fafad2; }
.rgb .LightGray { background-color: #d3d3d3; }
.rgb .LightGreen { background-color: #90ee90; }
.rgb .LightPink { background-color: #ffb6c1; }
.rgb .LightSalmon { background-color: #ffa07a; }
.rgb .LightSeaGreen { background-color: #20b2aa; }
.rgb .LightSkyBlue { background-color: #87cefa; }
.rgb .LightSlateGray { background-color: #778899; }
.rgb .LightSteelBlue { background-color: #b0c4de; }
.rgb .LightYellow { background-color: #ffffe0; }
.rgb .Lime { background-color: #00ff00; }
.rgb .LimeGreen { background-color: #32cd32; }
.rgb .Linen { background-color: #faf0e6; }
.rgb .Magenta { background-color: #ff00ff; }
.rgb .Maroon { background-color: #800000; }
.rgb .MediumAquaMarine { background-color: #66cdaa; }
.rgb .MediumBlue { background-color: #0000cd; }
.rgb .MediumOrchid { background-color: #ba55d3; }
.rgb .MediumPurple { background-color: #9370db; }
.rgb .MediumSeaGreen { background-color: #3cb371; }
.rgb .MediumSlateBlue { background-color: #7b68ee; }
.rgb .MediumSpringGreen { background-color: #00fa9a; }
.rgb .MediumTurquoise { background-color: #48d1cc; }
.rgb .MediumVioletRed { background-color: #c71585; }
.rgb .MidnightBlue { background-color: #191970; }
.rgb .MintCream { background-color: #f5fffa; }
.rgb .MistyRose { background-color: #ffe4e1; }
.rgb .Moccasin { background-color: #ffe4b5; }
.rgb .NavajoWhite { background-color: #ffdead; }
.rgb .Navy { background-color: #000080; }
.rgb .OldLace { background-color: #fdf5e6; }
.rgb .Olive { background-color: #808000; }
.rgb .OliveDrab { background-color: #6b8e23; }
.rgb .Orange { background-color: #ffa500; }
.rgb .OrangeRed { background-color: #ff4500; }
.rgb .Orchid { background-color: #da70d6; }
.rgb .PaleGoldenRod { background-color: #eee8aa; }
.rgb .PaleGreen { background-color: #98fb98; }
.rgb .PaleTurquoise { background-color: #afeeee; }
.rgb .PaleVioletRed { background-color: #db7093; }
.rgb .PapayaWhip { background-color: #ffefd5; }
.rgb .PeachPuff { background-color: #ffdab9; }
.rgb .Peru { background-color: #cd853f; }
.rgb .Pink { background-color: #ffc0cb; }
.rgb .Plum { background-color: #dda0dd; }
.rgb .PowderBlue { background-color: #b0e0e6; }
.rgb .Purple { background-color: #800080; }
.rgb .Red { background-color: #ff0000; }
.rgb .RosyBrown { background-color: #bc8f8f; }
.rgb .RoyalBlue { background-color: #4169e1; }
.rgb .SaddleBrown { background-color: #8b4513; }
.rgb .Salmon { background-color: #fa8072; }
.rgb .SandyBrown { background-color: #f4a460; }
.rgb .SeaGreen { background-color: #2e8b57; }
.rgb .SeaShell { background-color: #fff5ee; }
.rgb .Sienna { background-color: #a0522d; }
.rgb .Silver { background-color: #c0c0c0; }
.rgb .SkyBlue { background-color: #87ceeb; }
.rgb .SlateBlue { background-color: #6a5acd; }
.rgb .SlateGray { background-color: #708090; }
.rgb .Snow { background-color: #fffafa; }
.rgb .SpringGreen { background-color: #00ff7f; }
.rgb .SteelBlue { background-color: #4682b4; }
.rgb .Tan { background-color: #d2b48c; }
.rgb .Teal { background-color: #008080; }
.rgb .Thistle { background-color: #d8bfd8; }
.rgb .Tomato { background-color: #ff6347; }
.rgb .Turquoise { background-color: #40e0d0; }
.rgb .Violet { background-color: #ee82ee; }
.rgb .Wheat { background-color: #f5deb3; }
.rgb .White { background-color: #ffffff; }
.rgb .WhiteSmoke { background-color: #f5f5f5; }
.rgb .Yellow { background-color: #ffff00; }
.rgb .YellowGreen { background-color: #9acd32; }

.fogra-coated .AliceBlue { background-color: #f1f9fd; }
.fogra-coated .AntiqueWhite { background-color: #fbebd7; }
.fogra-coated .Aqua { background-color: #6fc7d9; }
.fogra-coated .Aquamarine { background-color: #96cfbc; }
.fogra-coated .Azure { background-color: #f2f9fb; }
.fogra-coated .Beige { background-color: #f6f6dd; }
.fogra-coated .Bisque { background-color: #fee3c5; }
.fogra-coated .Black { background-color: #000000; }
.fogra-coated .BlanchedAlmond { background-color: #ffebcd; }
.fogra-coated .Blue { background-color: #304a97; }
.fogra-coated .BlueViolet { background-color: #6b4491; }
.fogra-coated .Brown { background-color: #a62928; }
.fogra-coated .BurlyWood { background-color: #deb886; }
.fogra-coated .CadetBlue { background-color: #609ea0; }
.fogra-coated .Chartreuse { background-color: #90bc12; }
.fogra-coated .Chocolate { background-color: #d3691f; }
.fogra-coated .Coral { background-color: #ee7c52; }
.fogra-coated .CornflowerBlue { background-color: #6e90c5; }
.fogra-coated .Cornsilk { background-color: #fff9de; }
.fogra-coated .Crimson { background-color: #db143b; }
.fogra-coated .Cyan { background-color: #6fc7d9; }
.fogra-coated .DarkBlue { background-color: #202971; }
.fogra-coated .DarkCyan { background-color: #008b8b; }
.fogra-coated .DarkGoldenRod { background-color: #b88711; }
.fogra-coated .DarkGray { background-color: #a9a9a9; }
.fogra-coated .DarkGreen { background-color: #076428; }
.fogra-coated .DarkKhaki { background-color: #bdb86b; }
.fogra-coated .DarkMagenta { background-color: #851d80; }
.fogra-coated .DarkOliveGreen { background-color: #556b2e; }
.fogra-coated .DarkOrange { background-color: #f0891a; }
.fogra-coated .DarkOrchid { background-color: #7b4491; }
.fogra-coated .DarkRed { background-color: #8c1419; }
.fogra-coated .DarkSalmon { background-color: #e99679; }
.fogra-coated .DarkSeaGreen { background-color: #8fbd90; }
.fogra-coated .DarkSlateBlue { background-color: #473d8b; }
.fogra-coated .DarkSlateGray { background-color: #2e4e4f; }
.fogra-coated .DarkTurquoise { background-color: #46bac3; }
.fogra-coated .DarkViolet { background-color: #743c8d; }
.fogra-coated .DeepPink { background-color: #e53188; }
.fogra-coated .DeepSkyBlue { background-color: #48b8e6; }
.fogra-coated .DimGray { background-color: #696969; }
.fogra-coated .DodgerBlue { background-color: #4e85c0; }
.fogra-coated .FireBrick { background-color: #b22121; }
.fogra-coated .FloralWhite { background-color: #fffbf1; }
.fogra-coated .ForestGreen { background-color: #228b2e; }
.fogra-coated .Fuchsia { background-color: #b25296; }
.fogra-coated .Gainsboro { background-color: #dddcdc; }
.fogra-coated .GhostWhite { background-color: #f9f8fc; }
.fogra-coated .Gold { background-color: #ffd800; }
.fogra-coated .GoldenRod { background-color: #daa51f; }
.fogra-coated .Gray { background-color: #818180; }
.fogra-coated .Green { background-color: #07812d; }
.fogra-coated .GreenYellow { background-color: #afc800; }
.fogra-coated .HoneyDew { background-color: #f2f7ed; }
.fogra-coated .HotPink { background-color: #eb6ea3; }
.fogra-coated .IndianRed  { background-color: #ce5c5c; }
.fogra-coated .Indigo  { background-color: #492575; }
.fogra-coated .Ivory { background-color: #fffef2; }
.fogra-coated .Khaki { background-color: #f0e68b; }
.fogra-coated .Lavender { background-color: #e7e5f2; }
.fogra-coated .LavenderBlush { background-color: #fdf0f6; }
.fogra-coated .LawnGreen { background-color: #8dbb14; }
.fogra-coated .LemonChiffon { background-color: #fff9cf; }
.fogra-coated .LightBlue { background-color: #aed8e6; }
.fogra-coated .LightCoral { background-color: #ee8080; }
.fogra-coated .LightCyan { background-color: #e4f3f7; }
.fogra-coated .LightGoldenRodYellow { background-color: #faf8d4; }
.fogra-coated .LightGray { background-color: #d4d4d4; }
.fogra-coated .LightGreen { background-color: #9bc986; }
.fogra-coated .LightPink { background-color: #f5b3c0; }
.fogra-coated .LightSalmon { background-color: #f39e7c; }
.fogra-coated .LightSeaGreen { background-color: #21b1a9; }
.fogra-coated .LightSkyBlue { background-color: #8fcbec; }
.fogra-coated .LightSlateGray { background-color: #77899a; }
.fogra-coated .LightSteelBlue { background-color: #b0c4de; }
.fogra-coated .LightYellow { background-color: #fefbe2; }
.fogra-coated .Lime { background-color: #68af23; }
.fogra-coated .LimeGreen { background-color: #55ab34; }
.fogra-coated .Linen { background-color: #fbf1e7; }
.fogra-coated .Magenta { background-color: #b25296; }
.fogra-coated .Maroon { background-color: #7f1418; }
.fogra-coated .MediumAquaMarine { background-color: #71bfa4; }
.fogra-coated .MediumBlue { background-color: #303f90; }
.fogra-coated .MediumOrchid { background-color: #9b5f9f; }
.fogra-coated .MediumPurple { background-color: #8670ac; }
.fogra-coated .MediumSeaGreen { background-color: #42ad70; }
.fogra-coated .MediumSlateBlue { background-color: #6c65a7; }
.fogra-coated .MediumSpringGreen { background-color: #6ab980; }
.fogra-coated .MediumTurquoise { background-color: #5ebfc0; }
.fogra-coated .MediumVioletRed { background-color: #c51c82; }
.fogra-coated .MidnightBlue { background-color: #242864; }
.fogra-coated .MintCream { background-color: #f6fbf8; }
.fogra-coated .MistyRose { background-color: #fce3e1; }
.fogra-coated .Moccasin { background-color: #ffe4b5; }
.fogra-coated .NavajoWhite { background-color: #fedeae; }
.fogra-coated .Navy { background-color: #202867; }
.fogra-coated .OldLace { background-color: #fef6e7; }
.fogra-coated .Olive { background-color: #80811e; }
.fogra-coated .OliveDrab { background-color: #6c8f25; }
.fogra-coated .Orange { background-color: #f5a31a; }
.fogra-coated .OrangeRed { background-color: #e74920; }
.fogra-coated .Orchid { background-color: #be77ac; }
.fogra-coated .PaleGoldenRod { background-color: #eee8a9; }
.fogra-coated .PaleGreen { background-color: #a4cd88; }
.fogra-coated .PaleTurquoise { background-color: #b4dfe4; }
.fogra-coated .PaleVioletRed { background-color: #dc7194; }
.fogra-coated .PapayaWhip { background-color: #fff0d7; }
.fogra-coated .PeachPuff { background-color: #fcdaba; }
.fogra-coated .Peru { background-color: #cd853e; }
.fogra-coated .Pink { background-color: #f6beca; }
.fogra-coated .Plum { background-color: #d2a1c6; }
.fogra-coated .PowderBlue { background-color: #b2dee5; }
.fogra-coated .Purple { background-color: #7c1b7d; }
.fogra-coated .Red { background-color: #e42221; }
.fogra-coated .RosyBrown { background-color: #bc8f8f; }
.fogra-coated .RoyalBlue { background-color: #4963a7; }
.fogra-coated .SaddleBrown { background-color: #8a4518; }
.fogra-coated .Salmon { background-color: #ee7e72; }
.fogra-coated .SandyBrown { background-color: #f5a560; }
.fogra-coated .SeaGreen { background-color: #2c8b56; }
.fogra-coated .SeaShell { background-color: #fff6ef; }
.fogra-coated .Sienna { background-color: #a0522c; }
.fogra-coated .Silver { background-color: #c0c0c0; }
.fogra-coated .SkyBlue { background-color: #87ceeb; }
.fogra-coated .SlateBlue { background-color: #61589e; }
.fogra-coated .SlateGray { background-color: #718191; }
.fogra-coated .Snow { background-color: #fffbfb; }
.fogra-coated .SpringGreen { background-color: #6eb663; }
.fogra-coated .SteelBlue { background-color: #4582b4; }
.fogra-coated .Tan { background-color: #d2b48c; }
.fogra-coated .Teal { background-color: #008080; }
.fogra-coated .Thistle { background-color: #d8c0d8; }
.fogra-coated .Tomato { background-color: #ea634b; }
.fogra-coated .Turquoise { background-color: #65c0bd; }
.fogra-coated .Violet { background-color: #c989b7; }
.fogra-coated .Wheat { background-color: #f6deb3; }
.fogra-coated .White { background-color: #ffffff; }
.fogra-coated .WhiteSmoke { background-color: #f7f6f5; }
.fogra-coated .Yellow { background-color: #f4e600; }
.fogra-coated .YellowGreen { background-color: #9bc239; }

.fogra-uncoated .AliceBlue { background-color: #f1f8fd; }
.fogra-uncoated .AntiqueWhite { background-color: #fbecd8; }
.fogra-uncoated .Aqua { background-color: #76c7d9; }
.fogra-uncoated .Aquamarine { background-color: #98cfbd; }
.fogra-uncoated .Azure { background-color: #f2fafb; }
.fogra-uncoated .Beige { background-color: #f5f5dc; }
.fogra-uncoated .Bisque { background-color: #ffe5c6; }
.fogra-uncoated .Black { background-color: #000000; }
.fogra-uncoated .BlanchedAlmond { background-color: #ffeccf; }
.fogra-uncoated .Blue { background-color: #155399; }
.fogra-uncoated .BlueViolet { background-color: #525196; }
.fogra-uncoated .Brown { background-color: #a52f2d; }
.fogra-uncoated .BurlyWood { background-color: #deb886; }
.fogra-uncoated .CadetBlue { background-color: #5e9ea0; }
.fogra-uncoated .Chartreuse { background-color: #93ba29; }
.fogra-uncoated .Chocolate { background-color: #d16a28; }
.fogra-uncoated .Coral { background-color: #ed7e54; }
.fogra-uncoated .CornflowerBlue { background-color: #628cc3; }
.fogra-uncoated .Cornsilk { background-color: #fff8de; }
.fogra-uncoated .Crimson { background-color: #dd2c41; }
.fogra-uncoated .Cyan { background-color: #76c7d9; }
.fogra-uncoated .DarkBlue { background-color: #21456f; }
.fogra-uncoated .DarkCyan { background-color: #008b8c; }
.fogra-uncoated .DarkGoldenRod { background-color: #b78727; }
.fogra-uncoated .DarkGray { background-color: #a9aaaa; }
.fogra-uncoated .DarkGreen { background-color: #026631; }
.fogra-uncoated .DarkKhaki { background-color: #bdb76a; }
.fogra-uncoated .DarkMagenta { background-color: #763e87; }
.fogra-uncoated .DarkOliveGreen { background-color: #556b2f; }
.fogra-uncoated .DarkOrange { background-color: #f08b1e; }
.fogra-uncoated .DarkOrchid { background-color: #665094; }
.fogra-uncoated .DarkRed { background-color: #872a1d; }
.fogra-uncoated .DarkSalmon { background-color: #ea967a; }
.fogra-uncoated .DarkSeaGreen { background-color: #90bd90; }
.fogra-uncoated .DarkSlateBlue { background-color: #454089; }
.fogra-uncoated .DarkSlateGray { background-color: #2f4f4f; }
.fogra-uncoated .DarkTurquoise { background-color: #47b7c1; }
.fogra-uncoated .DarkViolet { background-color: #5b4c92; }
.fogra-uncoated .DeepPink { background-color: #e5388a; }
.fogra-uncoated .DeepSkyBlue { background-color: #41b8e8; }
.fogra-uncoated .DimGray { background-color: #6a6969; }
.fogra-uncoated .DodgerBlue { background-color: #3780bc; }
.fogra-uncoated .FireBrick { background-color: #b22e26; }
.fogra-uncoated .FloralWhite { background-color: #fffbf1; }
.fogra-uncoated .ForestGreen { background-color: #218d3b; }
.fogra-uncoated .Fuchsia { background-color: #8e599a; }
.fogra-uncoated .Gainsboro { background-color: #dcdcdc; }
.fogra-uncoated .GhostWhite { background-color: #f8f8fc; }
.fogra-uncoated .Gold { background-color: #ffd702; }
.fogra-uncoated .GoldenRod { background-color: #dba620; }
.fogra-uncoated .Gray { background-color: #808080; }
.fogra-uncoated .Green { background-color: #03833a; }
.fogra-uncoated .GreenYellow { background-color: #b0c51c; }
.fogra-uncoated .HoneyDew { background-color: #f1f8ee; }
.fogra-uncoated .HotPink { background-color: #e66fa6; }
.fogra-uncoated .IndianRed  { background-color: #ce5c5c; }
.fogra-uncoated .Indigo  { background-color: #383a77; }
.fogra-uncoated .Ivory { background-color: #fffef1; }
.fogra-uncoated .Khaki { background-color: #f1e78c; }
.fogra-uncoated .Lavender { background-color: #e6e5f3; }
.fogra-uncoated .LavenderBlush { background-color: #fef0f5; }
.fogra-uncoated .LawnGreen { background-color: #90b92a; }
.fogra-uncoated .LemonChiffon { background-color: #ffface; }
.fogra-uncoated .LightBlue { background-color: #aed9e7; }
.fogra-uncoated .LightCoral { background-color: #ed8080; }
.fogra-uncoated .LightCyan { background-color: #e3f3f7; }
.fogra-uncoated .LightGoldenRodYellow { background-color: #f9f8d3; }
.fogra-uncoated .LightGray { background-color: #d3d3d3; }
.fogra-uncoated .LightGreen { background-color: #9ac887; }
.fogra-uncoated .LightPink { background-color: #f6b4c1; }
.fogra-uncoated .LightSalmon { background-color: #f29d7b; }
.fogra-uncoated .LightSeaGreen { background-color: #2caea8; }
.fogra-uncoated .LightSkyBlue { background-color: #8dcbee; }
.fogra-uncoated .LightSlateGray { background-color: #77889a; }
.fogra-uncoated .LightSteelBlue { background-color: #b0c4de; }
.fogra-uncoated .LightYellow { background-color: #fefce2; }
.fogra-uncoated .Lime { background-color: #6dac33; }
.fogra-uncoated .LimeGreen { background-color: #57a637; }
.fogra-uncoated .Linen { background-color: #faf0e6; }
.fogra-uncoated .Magenta { background-color: #8e599a; }
.fogra-uncoated .Maroon { background-color: #7c291d; }
.fogra-uncoated .MediumAquaMarine { background-color: #70bea5; }
.fogra-uncoated .MediumBlue { background-color: #1f4e91; }
.fogra-uncoated .MediumOrchid { background-color: #825e9e; }
.fogra-uncoated .MediumPurple { background-color: #726eab; }
.fogra-uncoated .MediumSeaGreen { background-color: #46aa70; }
.fogra-uncoated .MediumSlateBlue { background-color: #5263a4; }
.fogra-uncoated .MediumSpringGreen { background-color: #6bb782; }
.fogra-uncoated .MediumTurquoise { background-color: #5fbcbf; }
.fogra-uncoated .MediumVioletRed { background-color: #bd3888; }
.fogra-uncoated .MidnightBlue { background-color: #223f65; }
.fogra-uncoated .MintCream { background-color: #f6fbf8; }
.fogra-uncoated .MistyRose { background-color: #fde4e2; }
.fogra-uncoated .Moccasin { background-color: #ffe5b6; }
.fogra-uncoated .NavajoWhite { background-color: #ffdead; }
.fogra-uncoated .Navy { background-color: #214269; }
.fogra-uncoated .OldLace { background-color: #fdf5e6; }
.fogra-uncoated .Olive { background-color: #80832e; }
.fogra-uncoated .OliveDrab { background-color: #6b9034; }
.fogra-uncoated .Orange { background-color: #f6a316; }
.fogra-uncoated .OrangeRed { background-color: #e44d26; }
.fogra-uncoated .Orchid { background-color: #ab76ad; }
.fogra-uncoated .PaleGoldenRod { background-color: #efe9ab; }
.fogra-uncoated .PaleGreen { background-color: #a3cc8a; }
.fogra-uncoated .PaleTurquoise { background-color: #b6dfe4; }
.fogra-uncoated .PaleVioletRed { background-color: #db7093; }
.fogra-uncoated .PapayaWhip { background-color: #fff0d6; }
.fogra-uncoated .PeachPuff { background-color: #fddaba; }
.fogra-uncoated .Peru { background-color: #cd853c; }
.fogra-uncoated .Pink { background-color: #f7bfcb; }
.fogra-uncoated .Plum { background-color: #caa1c8; }
.fogra-uncoated .PowderBlue { background-color: #b1dde4; }
.fogra-uncoated .Purple { background-color: #6a3d7d; }
.fogra-uncoated .Red { background-color: #df2a26; }
.fogra-uncoated .RosyBrown { background-color: #bc8f8f; }
.fogra-uncoated .RoyalBlue { background-color: #3665a7; }
.fogra-uncoated .SaddleBrown { background-color: #8b461e; }
.fogra-uncoated .Salmon { background-color: #ed7f73; }
.fogra-uncoated .SandyBrown { background-color: #f4a45f; }
.fogra-uncoated .SeaGreen { background-color: #2d8c57; }
.fogra-uncoated .SeaShell { background-color: #fff5ee; }
.fogra-uncoated .Sienna { background-color: #a0522d; }
.fogra-uncoated .Silver { background-color: #c0c1c0; }
.fogra-uncoated .SkyBlue { background-color: #87cfec; }
.fogra-uncoated .SlateBlue { background-color: #4e5b9e; }
.fogra-uncoated .SlateGray { background-color: #708191; }
.fogra-uncoated .Snow { background-color: #fffbfb; }
.fogra-uncoated .SpringGreen { background-color: #6fb363; }
.fogra-uncoated .SteelBlue { background-color: #4682b4; }
.fogra-uncoated .Tan { background-color: #d2b38b; }
.fogra-uncoated .Teal { background-color: #038080; }
.fogra-uncoated .Thistle { background-color: #d8bfd9; }
.fogra-uncoated .Tomato { background-color: #e8644c; }
.fogra-uncoated .Turquoise { background-color: #67bebe; }
.fogra-uncoated .Violet { background-color: #b889b9; }
.fogra-uncoated .Wheat { background-color: #f6deb3; }
.fogra-uncoated .White { background-color: #ffffff; }
.fogra-uncoated .WhiteSmoke { background-color: #f5f5f5; }
.fogra-uncoated .Yellow { background-color: #f5e200; }
.fogra-uncoated .YellowGreen { background-color: #99be3b; }

.web-coated .AliceBlue { background-color: #f1f9fe; }
.web-coated .AntiqueWhite { background-color: #f9ead7; }
.web-coated .Aqua { background-color: #6fcddd; }
.web-coated .Aquamarine { background-color: #99d4c0; }
.web-coated .Azure { background-color: #f2fafb; }
.web-coated .Beige { background-color: #f5f5dd; }
.web-coated .Bisque { background-color: #ffe4c4; }
.web-coated .Black { background-color: #000000; }
.web-coated .BlanchedAlmond { background-color: #ffebcd; }
.web-coated .Blue { background-color: #3853a4; }
.web-coated .BlueViolet { background-color: #7650a1; }
.web-coated .Brown { background-color: #a62929; }
.web-coated .BurlyWood { background-color: #deb887; }
.web-coated .CadetBlue { background-color: #5f9ea0; }
.web-coated .Chartreuse { background-color: #93c93d; }
.web-coated .Chocolate { background-color: #d26a27; }
.web-coated .Coral { background-color: #f57e52; }
.web-coated .CornflowerBlue { background-color: #6d91cb; }
.web-coated .Cornsilk { background-color: #fff8dd; }
.web-coated .Crimson { background-color: #dc1d3d; }
.web-coated .Cyan { background-color: #6fcddd; }
.web-coated .DarkBlue { background-color: #2a2c7c; }
.web-coated .DarkCyan { background-color: #008b8b; }
.web-coated .DarkGoldenRod { background-color: #b7872c; }
.web-coated .DarkGray { background-color: #aaaaaa; }
.web-coated .DarkGreen { background-color: #176433; }
.web-coated .DarkKhaki { background-color: #bdb76b; }
.web-coated .DarkMagenta { background-color: #872788; }
.web-coated .DarkOliveGreen { background-color: #566b30; }
.web-coated .DarkOrange { background-color: #f78c1e; }
.web-coated .DarkOrchid { background-color: #864c9e; }
.web-coated .DarkRed { background-color: #8a171a; }
.web-coated .DarkSalmon { background-color: #ea977a; }
.web-coated .DarkSeaGreen { background-color: #8fbc8f; }
.web-coated .DarkSlateBlue { background-color: #483d8b; }
.web-coated .DarkSlateGray { background-color: #2f4f4f; }
.web-coated .DarkTurquoise { background-color: #3cc1c8; }
.web-coated .DarkViolet { background-color: #7f469b; }
.web-coated .DeepPink { background-color: #ed2891; }
.web-coated .DeepSkyBlue { background-color: #40bbec; }
.web-coated .DimGray { background-color: #696969; }
.web-coated .DodgerBlue { background-color: #4c86c6; }
.web-coated .FireBrick { background-color: #b22424; }
.web-coated .FloralWhite { background-color: #fffaf1; }
.web-coated .ForestGreen { background-color: #258c43; }
.web-coated .Fuchsia { background-color: #b9529f; }
.web-coated .Gainsboro { background-color: #dddddc; }
.web-coated .GhostWhite { background-color: #f8f8fc; }
.web-coated .Gold { background-color: #fed700; }
.web-coated .GoldenRod { background-color: #daa628; }
.web-coated .Gray { background-color: #808080; }
.web-coated .Green { background-color: #0c8140; }
.web-coated .GreenYellow { background-color: #b4d334; }
.web-coated .HoneyDew { background-color: #f2f8ee; }
.web-coated .HotPink { background-color: #f16ba8; }
.web-coated .IndianRed  { background-color: #ce5c5c; }
.web-coated .Indigo  { background-color: #4d297c; }
.web-coated .Ivory { background-color: #fffef2; }
.web-coated .Khaki { background-color: #f0e68b; }
.web-coated .Lavender { background-color: #e7e6f3; }
.web-coated .LavenderBlush { background-color: #fef0f6; }
.web-coated .LawnGreen { background-color: #90c83e; }
.web-coated .LemonChiffon { background-color: #fffacf; }
.web-coated .LightBlue { background-color: #aed8e6; }
.web-coated .LightCoral { background-color: #ef8080; }
.web-coated .LightCyan { background-color: #e4f4f8; }
.web-coated .LightGoldenRodYellow { background-color: #faf9d4; }
.web-coated .LightGray { background-color: #d4d4d3; }
.web-coated .LightGreen { background-color: #9dd089; }
.web-coated .LightPink { background-color: #f8b4c0; }
.web-coated .LightSalmon { background-color: #f89f7b; }
.web-coated .LightSeaGreen { background-color: #1cb2aa; }
.web-coated .LightSkyBlue { background-color: #8cccf1; }
.web-coated .LightSlateGray { background-color: #778899; }
.web-coated .LightSteelBlue { background-color: #b0c4de; }
.web-coated .LightYellow { background-color: #fefce2; }
.web-coated .Lime { background-color: #69bd45; }
.web-coated .LimeGreen { background-color: #50b848; }
.web-coated .Linen { background-color: #faf1e7; }
.web-coated .Magenta { background-color: #b9529f; }
.web-coated .Maroon { background-color: #7f1416; }
.web-coated .MediumAquaMarine { background-color: #6dc6a7; }
.web-coated .MediumBlue { background-color: #35459d; }
.web-coated .MediumOrchid { background-color: #9f5ea6; }
.web-coated .MediumPurple { background-color: #8670b3; }
.web-coated .MediumSeaGreen { background-color: #3bb370; }
.web-coated .MediumSlateBlue { background-color: #6e68af; }
.web-coated .MediumSpringGreen { background-color: #6dc286; }
.web-coated .MediumTurquoise { background-color: #59c5c4; }
.web-coated .MediumVioletRed { background-color: #c71784; }
.web-coated .MidnightBlue { background-color: #2a276b; }
.web-coated .MintCream { background-color: #f6fbf8; }
.web-coated .MistyRose { background-color: #fde4e0; }
.web-coated .Moccasin { background-color: #ffe4b5; }
.web-coated .NavajoWhite { background-color: #ffdead; }
.web-coated .Navy { background-color: #282973; }
.web-coated .OldLace { background-color: #fef6e7; }
.web-coated .Olive { background-color: #7f8133; }
.web-coated .OliveDrab { background-color: #6b8f3c; }
.web-coated .Orange { background-color: #faa41a; }
.web-coated .OrangeRed { background-color: #f04923; }
.web-coated .Orchid { background-color: #c276b1; }
.web-coated .PaleGoldenRod { background-color: #eee8a9; }
.web-coated .PaleGreen { background-color: #a6d48d; }
.web-coated .PaleTurquoise { background-color: #b5e2e6; }
.web-coated .PaleVioletRed { background-color: #db7093; }
.web-coated .PapayaWhip { background-color: #fff0d7; }
.web-coated .PeachPuff { background-color: #fedab9; }
.web-coated .Peru { background-color: #cd853d; }
.web-coated .Pink { background-color: #f9bfcb; }
.web-coated .Plum { background-color: #d5a1ca; }
.web-coated .PowderBlue { background-color: #b1e1e7; }
.web-coated .Purple { background-color: #7c277d; }
.web-coated .Red { background-color: #ee1f24; }
.web-coated .RosyBrown { background-color: #bc8e8f; }
.web-coated .RoyalBlue { background-color: #4d69b1; }
.web-coated .SaddleBrown { background-color: #8b461f; }
.web-coated .Salmon { background-color: #f47f72; }
.web-coated .SandyBrown { background-color: #f4a460; }
.web-coated .SeaGreen { background-color: #2c8b57; }
.web-coated .SeaShell { background-color: #fff5ef; }
.web-coated .Sienna { background-color: #a0522c; }
.web-coated .Silver { background-color: #c1c0c0; }
.web-coated .SkyBlue { background-color: #87ceea; }
.web-coated .SlateBlue { background-color: #675eaa; }
.web-coated .SlateGray { background-color: #708090; }
.web-coated .Snow { background-color: #fffafb; }
.web-coated .SpringGreen { background-color: #70c169; }
.web-coated .SteelBlue { background-color: #4683b5; }
.web-coated .Tan { background-color: #d2b48c; }
.web-coated .Teal { background-color: #008080; }
.web-coated .Thistle { background-color: #d8bfd8; }
.web-coated .Tomato { background-color: #f2634b; }
.web-coated .Turquoise { background-color: #64c7c2; }
.web-coated .Violet { background-color: #ce8bbc; }
.web-coated .Wheat { background-color: #f5deb3; }
.web-coated .White { background-color: #ffffff; }
.web-coated .WhiteSmoke { background-color: #f5f6f6; }
.web-coated .Yellow { background-color: #f7ec12; }
.web-coated .YellowGreen { background-color: #9acb3c; }

.web-uncoated .AliceBlue { background-color: #f1f9fd; }
.web-uncoated .AntiqueWhite { background-color: #fbebd8; }
.web-uncoated .Aqua { background-color: #69c1d3; }
.web-uncoated .Aquamarine { background-color: #94ccb8; }
.web-uncoated .Azure { background-color: #f1f8fa; }
.web-uncoated .Beige { background-color: #f5f5dc; }
.web-uncoated .Bisque { background-color: #fae2c5; }
.web-uncoated .Black { background-color: #000000; }
.web-uncoated .BlanchedAlmond { background-color: #fceace; }
.web-uncoated .Blue { background-color: #545f99; }
.web-uncoated .BlueViolet { background-color: #785d95; }
.web-uncoated .Brown { background-color: #a62a2a; }
.web-uncoated .BurlyWood { background-color: #dfb886; }
.web-uncoated .CadetBlue { background-color: #5e9e9f; }
.web-uncoated .Chartreuse { background-color: #8ebe3a; }
.web-uncoated .Chocolate { background-color: #d16a2a; }
.web-uncoated .Coral { background-color: #e57b55; }
.web-uncoated .CornflowerBlue { background-color: #6f8cbd; }
.web-uncoated .Cornsilk { background-color: #fef7dd; }
.web-uncoated .Crimson { background-color: #d8193d; }
.web-uncoated .Cyan { background-color: #69c1d3; }
.web-uncoated .DarkBlue { background-color: #3d3e7e; }
.web-uncoated .DarkCyan { background-color: #008a8a; }
.web-uncoated .DarkGoldenRod { background-color: #b7872b; }
.web-uncoated .DarkGray { background-color: #a9a9a9; }
.web-uncoated .DarkGreen { background-color: #256532; }
.web-uncoated .DarkKhaki { background-color: #bdb76a; }
.web-uncoated .DarkMagenta { background-color: #843c7c; }
.web-uncoated .DarkOliveGreen { background-color: #566c30; }
.web-uncoated .DarkOrange { background-color: #e78827; }
.web-uncoated .DarkOrchid { background-color: #835990; }
.web-uncoated .DarkRed { background-color: #891617; }
.web-uncoated .DarkSalmon { background-color: #e9967a; }
.web-uncoated .DarkSeaGreen { background-color: #8fbc8f; }
.web-uncoated .DarkSlateBlue { background-color: #4e4585; }
.web-uncoated .DarkSlateGray { background-color: #304f4f; }
.web-uncoated .DarkTurquoise { background-color: #43b6c0; }
.web-uncoated .DarkViolet { background-color: #7e578f; }
.web-uncoated .DeepPink { background-color: #dd3779; }
.web-uncoated .DeepSkyBlue { background-color: #41b8e8; }
.web-uncoated .DimGray { background-color: #6a696a; }
.web-uncoated .DodgerBlue { background-color: #5281b7; }
.web-uncoated .FireBrick { background-color: #b22628; }
.web-uncoated .FloralWhite { background-color: #fefaf1; }
.web-uncoated .ForestGreen { background-color: #288c43; }
.web-uncoated .Fuchsia { background-color: #a9578c; }
.web-uncoated .Gainsboro { background-color: #dcdcdc; }
.web-uncoated .GhostWhite { background-color: #f8f8fb; }
.web-uncoated .Gold { background-color: #fbd510; }
.web-uncoated .GoldenRod { background-color: #d9a524; }
.web-uncoated .Gray { background-color: #7f7f7f; }
.web-uncoated .Green { background-color: #198140; }
.web-uncoated .GreenYellow { background-color: #adca30; }
.web-uncoated .HoneyDew { background-color: #f1f7ec; }
.web-uncoated .HotPink { background-color: #de6c96; }
.web-uncoated .IndianRed  { background-color: #cd5b5b; }
.web-uncoated .Indigo  { background-color: #56387a; }
.web-uncoated .Ivory { background-color: #fffef2; }
.web-uncoated .Khaki { background-color: #f0e68c; }
.web-uncoated .Lavender { background-color: #e6e5f0; }
.web-uncoated .LavenderBlush { background-color: #fceff4; }
.web-uncoated .LawnGreen { background-color: #8bbc3b; }
.web-uncoated .LemonChiffon { background-color: #ffface; }
.web-uncoated .LightBlue { background-color: #aed8e6; }
.web-uncoated .LightCoral { background-color: #e57e80; }
.web-uncoated .LightCyan { background-color: #e3f2f6; }
.web-uncoated .LightGoldenRodYellow { background-color: #faf8d3; }
.web-uncoated .LightGray { background-color: #d3d3d3; }
.web-uncoated .LightGreen { background-color: #99c884; }
.web-uncoated .LightPink { background-color: #efb3bf; }
.web-uncoated .LightSalmon { background-color: #eb9b7c; }
.web-uncoated .LightSeaGreen { background-color: #28afa8; }
.web-uncoated .LightSkyBlue { background-color: #8ecaed; }
.web-uncoated .LightSlateGray { background-color: #768798; }
.web-uncoated .LightSteelBlue { background-color: #b0c4dd; }
.web-uncoated .LightYellow { background-color: #fefbe1; }
.web-uncoated .Lime { background-color: #65b043; }
.web-uncoated .LimeGreen { background-color: #52ab45; }
.web-uncoated .Linen { background-color: #fbf1e6; }
.web-uncoated .Magenta { background-color: #a9578c; }
.web-uncoated .Maroon { background-color: #7f0e11; }
.web-uncoated .MediumAquaMarine { background-color: #71bda3; }
.web-uncoated .MediumBlue { background-color: #505693; }
.web-uncoated .MediumOrchid { background-color: #956295; }
.web-uncoated .MediumPurple { background-color: #806ea2; }
.web-uncoated .MediumSeaGreen { background-color: #44ac6f; }
.web-uncoated .MediumSlateBlue { background-color: #726ca2; }
.web-uncoated .MediumSpringGreen { background-color: #67b67d; }
.web-uncoated .MediumTurquoise { background-color: #5dbcbe; }
.web-uncoated .MediumVioletRed { background-color: #b73678; }
.web-uncoated .MidnightBlue { background-color: #2d2d6e; }
.web-uncoated .MintCream { background-color: #f5faf7; }
.web-uncoated .MistyRose { background-color: #f9e2e1; }
.web-uncoated .Moccasin { background-color: #fbe3b7; }
.web-uncoated .NavajoWhite { background-color: #f9dcaf; }
.web-uncoated .Navy { background-color: #363875; }
.web-uncoated .OldLace { background-color: #fef6e7; }
.web-uncoated .Olive { background-color: #808131; }
.web-uncoated .OliveDrab { background-color: #6b8e3a; }
.web-uncoated .Orange { background-color: #eea122; }
.web-uncoated .OrangeRed { background-color: #dc492d; }
.web-uncoated .Orchid { background-color: #b274a1; }
.web-uncoated .PaleGoldenRod { background-color: #eee8aa; }
.web-uncoated .PaleGreen { background-color: #a2cb85; }
.web-uncoated .PaleTurquoise { background-color: #b4dce1; }
.web-uncoated .PaleVioletRed { background-color: #db6f92; }
.web-uncoated .PapayaWhip { background-color: #fceed6; }
.web-uncoated .PeachPuff { background-color: #f8d8bb; }
.web-uncoated .Peru { background-color: #cd853d; }
.web-uncoated .Pink { background-color: #f2bdca; }
.web-uncoated .Plum { background-color: #cc9fbf; }
.web-uncoated .PowderBlue { background-color: #b2dce2; }
.web-uncoated .Purple { background-color: #7e3478; }
.web-uncoated .Red { background-color: #d8252f; }
.web-uncoated .RosyBrown { background-color: #bb8f8f; }
.web-uncoated .RoyalBlue { background-color: #5a6ca4; }
.web-uncoated .SaddleBrown { background-color: #8b471c; }
.web-uncoated .Salmon { background-color: #e57d73; }
.web-uncoated .SandyBrown { background-color: #eda361; }
.web-uncoated .SeaGreen { background-color: #2c8a56; }
.web-uncoated .SeaShell { background-color: #fdf4ee; }
.web-uncoated .Sienna { background-color: #a0532d; }
.web-uncoated .Silver { background-color: #c0c0c0; }
.web-uncoated .SkyBlue { background-color: #88cdea; }
.web-uncoated .SlateBlue { background-color: #6c659c; }
.web-uncoated .SlateGray { background-color: #6f7f8f; }
.web-uncoated .Snow { background-color: #fefbfb; }
.web-uncoated .SpringGreen { background-color: #68b35d; }
.web-uncoated .SteelBlue { background-color: #4581b3; }
.web-uncoated .Tan { background-color: #d2b48c; }
.web-uncoated .Teal { background-color: #048180; }
.web-uncoated .Thistle { background-color: #d7bfd6; }
.web-uncoated .Tomato { background-color: #e0614d; }
.web-uncoated .Turquoise { background-color: #64bdba; }
.web-uncoated .Violet { background-color: #c086ad; }
.web-uncoated .Wheat { background-color: #f6deb3; }
.web-uncoated .White { background-color: #ffffff; }
.web-uncoated .WhiteSmoke { background-color: #f6f6f6; }
.web-uncoated .Yellow { background-color: #f5e700; }
.web-uncoated .YellowGreen { background-color: #9ac23a; }